[2018-12-12 04:01] zonca opened #1 "missing units and cib modules"
@bthorne93 the `pysm.units` and `    from pysm.component_models.extragalactic.cib import InterpolatedCIB` modules used in the tests are missing, can you please add them?

[2018-12-31 15:44] bthorne93 commented on #1
@zonca I have added these and submitted the pull requests.

[2018-12-31 16:42] bthorne93 opened #6 "Thermodynamic and RJ units"
[As of astropy v3.1 ](https://github.com/astropy/astropy/pull/7054), thermodynamic units are supported. Switch from our version defined in `pysm.units`.

[2019-01-01 18:55] bthorne93 commented on #6
Implemented in [PR#7](https://github.com/healpy/pysm/pull/7).

[2019-01-01 18:56] #6 closed

[2019-01-08 02:05] zonca commented on #1
thanks, this is fixed by #7

[2019-01-08 02:05] #1 closed

[2019-01-09 05:46] zonca opened #8 "Port Interpolating Component to PySM 3 and add to repository as CIB"
I can adapt that code to the new PySM and then integrate it directly inside PySM

https://github.com/zonca/pysm_interpolating_component

_Originally posted by @zonca in https://github.com/healpy/pysm/pull/4#issuecomment-452145923_

[2019-01-29 00:42] zonca opened #9 "How to generate emission and bandpass integration"
I would like to optimize how bandpass integration is handled.

However, even before that, I would like to optimize how emissions are calculated when we get an input array of frequency.

For example now in the synchrotron power law, we have a loop on the frequencies:

https://github.com/healpy/pysm/blob/584898cad071e591eeb74b633d946502341aa6d9/pysm/component_models/galactic/synchrotron.py#L59

Firs

[2019-01-29 01:00] zonca opened #10 "Design of the Instrument class"
I believe it is a good idea, as it is now, to have the `Model` subclasses take care of the bandpass integration, see #9

However, I think it is convenient to have a `Instrument` class with a similar interface to PySM 2, it is a good way of grouping the instrument properties together that are otherwise just independent arrays like `fwhms` and `bandpasses`.

We can still provide the same `observe` m

[2019-01-29 18:12] zonca opened #12 "Simplify code for dust"
The dust code has properties and setters, check if we can simplify the code or they are really the best way to implement that code.

[2019-01-31 19:44] bthorne93 commented on #9
Hi @zonca, sorry, these messages were being caught by my email spam filter! I started your first request recently, and have submitted that as PR#13 for your comments.

[2019-01-31 20:34] zonca commented on #9
thanks @bthorne93
for now better wait for my MPI implementation to be complete, because it affects a lot of the code base.
Once I'm done with that and you review and merge, we can think about the other issues.
I mostly wrote them down as discussion points.

[2019-02-27 02:26] zonca opened #14 "Fix installing libsharp on travis"
* `mpi4py` from conda-forge pulls `mpich`, it gives "cannot create executable" error
* testing now `openmpi` from conda-forge + `mpi4py` with `pip`

[2019-02-27 02:29] zonca opened #15 "Implement distributed smoothing with libsharp"
In #11 implemented MPI support and pixel distribution based on rings as expected by `libsharp`.
Now should do the actual distributed smoothing with `libsharp`.

Import the code from https://github.com/hpc4cmb/toast/blob/master/src/python/map/smooth.py

[2019-02-27 03:01] zonca commented on #14
See #16

[2019-02-27 03:01] #14 closed

[2019-04-25 06:29] zonca commented on #15
implemented in #18

[2019-04-25 06:29] #15 closed

[2019-04-25 06:36] zonca opened #19 "Import models for high resolution foregrounds"
In order to run the Simons Observatory simulations, I would like to have all the models used by https://github.com/simonsobs/so_pysm_models/blob/master/so_pysm_models/so_models.py

In particular, `modified_black_body` and `power_law` we should already have. Are `power_law` and `SynchrotronPowerLaw` the same thing?

I need also `spdust` and `spdust_pol` for AME

[2019-04-25 06:39] zonca commented on #19
Consider that the presets now are in the file https://github.com/healpy/pysm/blob/master/pysm/data/presets.cfg

[2019-04-25 06:43] zonca opened #20 "Import the hensley_draine_2017 model"
Longer term, it would be nice to import the `hensley_draine_2017` dust model, which is possibly the most complex model available in PySM. This could even require changing the architecture of PySM 3.

[2019-05-04 19:44] zonca commented on #19
it seems straightforward and I have test maps to check the implementation, I'll take care of this.

[2019-05-04 23:56] zonca commented on #19
ok, implemented those, completed in f8e9d0b569471ce96239691f232b7916bb0f1383

now we support also `f1` `a1` and `a2`

[2019-05-04 23:56] #19 closed

[2019-05-04 23:57] zonca commented on #12
implemented before 891ddd13e0b0605eda9f784a599383d28a808b51 when optimizing code with numba

[2019-05-04 23:57] #12 closed

[2019-05-18 17:16] #8 closed

[2019-05-21 20:24] zonca opened #22 "Use equivalencies for inplace conversion"
when using the `<<=` operator, need to add a `with` statement with the equivalency I want to use:

http://docs.astropy.org/en/stable/units/equivalencies.html#equivalency-context

[2019-05-21 21:21] zonca commented on #10
`Instrument.generate_noise_map`, gets a seed (optional) generates 1 noise map
we also need to have a simple hitmap weighted white noise map.

`Instrument.generate_noise_realizations(number, sky=None)` loop through channels and for let's say 100 realizations create noise maps and call the `write_output` with a suitable filename template.

`Instrument.observe(sky : pysm.Sky)`, generates 1 sky bandpa

[2019-05-21 21:37] zonca commented on #10
need to specify a `bandpass_units`, for example if we have tophat assuming `K_CMB` we need to compute the conversion factor **from** `K_RJ` **to** `K_CMB` and apply it to the dimensionless weights

[2019-05-21 23:13] zonca commented on #9
implement bandpass integration with trapezoidal rule:

https://en.wikipedia.org/wiki/Trapezoidal_rule#Numerical_implementation

assume we can have non-uniform spacing, need 1 map to accumulate, 1 for (k-1) and 1 for k.

[2019-05-22 17:14] zonca opened #23 "Add memory monitoring function for MPI smoothing"
Get the script in TOAST that checks memory usage across the MPI communicator: https://github.com/hpc4cmb/toast/blob/master/pipelines/toast_ground_sim.py#L54

[2019-06-05 00:29] zonca opened #25 "Performance notes of PySM3"
Running PySM3 standalone using modifications of this script:

https://github.com/healpy/pysm/blob/master/mpi_examples/pysm3_mpi_so_pysm_models.py

I have all the 8 components requested for the TOD sims, which load a total of 30 maps. Plus bandpass integration of 5 points and distributed smoothing with `libsharp`.

[2019-06-05 00:29] zonca commented on #25
It runs fine on Popeye single node with 1 MPI process (48 cores and 768 GB of RAM) at 4096 , using a max of 25GB of RAM in 6 minutes.

[2019-06-11 01:44] zonca commented on #25
Timing, initialize sky and run bandpass integration and beam smoothing for 10 channels:

* 1 node 1862.6s 23.882 GB
* 2 nodes 1399.8s 15.213 GB
* 3 nodes 1169.1s 12.470 GB
* 5 nodes 978.4s  10.193 GB
* 10 nodes (4 MPI 12 OMP per node) 702.5s 10.319 GB

Checked for increased memory between channel 0 and 9, seems fine.

[2019-06-11 01:52] zonca commented on #25
Only thing that worries me is that at 10 MPI processes sometimes the MPI job hangs after creating Sky, I guess in one of the all-to-all communications....how do I debug that??
Testing on Cori KNL now.

[2019-06-11 02:02] zonca commented on #25
## Breakdown for 10 nodes

10 nodes (4 MPI 12 OMP per node)

* Initialization: 111.3s
* Create sky and bandpass integration (each channel): 50s
* Distributed smoothing  (each channel): 6-10s

[2019-09-13 15:15] keskitalo opened #27 "Possible scaling issue"
I am running an SO-specific TOAST simulation with this preset:
[code]
or in the case of LF1 band:
[code]
The simulation resolution is `nside=512`.

In the LF1 case, simulating roughly 12 days of data at 37Hz for 65 detectors took about 9 minutes using 32 MPI tasks distributed over 32 nodes. Each MPI task was given 8 threads. Each node was running a total of 8 independent PySM calculations simultan

[2019-09-13 15:36] zonca commented on #20
@bthorne93 are you still interested in working on this? Do you have an estimate of when you would have time to work on this?

[2019-09-13 16:20] zonca commented on #27
The CIB component is just a linear interpolator, main issue is that it needs to read a lot of nside 4096 maps, see available maps at https://portal.nersc.gov/project/cmb/so_pysm_models_data/websky/0.3/

[2019-09-13 16:24] zonca commented on #27
is this on Cori-KNL?

[2019-09-13 17:33] keskitalo commented on #27
Yes.

[2019-09-13 20:29] keskitalo commented on #27
It is definitely the CIB. Going from 10 minutes to more than 2 hours (perhaps a lot more) seems like a big jump. Do you have any ideas on how to make the CIB run faster? Could some intermediate product be cached?

[2019-09-13 21:56] zonca commented on #27
are you saying this because you got the results for LF2?
so for same exact conditions with/without CIB? Is it possible that the nodes are swapping due to too many CIB maps at 4096 cached in memory?

[2019-09-13 22:00] keskitalo commented on #27
Yes, I got the LF2 results. I don't think swapping is enabled.

[2019-09-13 22:29] zonca commented on #27
ok, good, I'll debug this!

[2019-09-13 22:39] keskitalo commented on #27
Thanks!

[2019-09-13 22:40] zonca commented on #27
ops, I'm re-reading the maps for each channel...fix coming soon.

[2019-09-13 22:44] keskitalo commented on #27
How many of these high resolution maps do you anticipate caching per process? If each map is 768MB and there are multiple processes running on a node, we'll quickly run out of memory.

[2019-09-13 23:15] zonca commented on #27
it actually first ud_grades them to 512, so it should be fine

[2019-09-13 23:19] #27 closed

[2019-09-13 23:21] zonca commented on #27
@keskitalo this should be fixed, all unit tests pass, it only stores the available templates needed by a channel, so if all channels are at the same frequency, it shouldn't use much memory.

[2019-09-13 23:39] bthorne93 commented on #20
@zonca Yes, sure. I actually have most of this implemented from when we spoke about it last. I can block off some time to work on this Friday next week, and should be doable in half a day. Would that be alright?

[2019-09-14 00:03] zonca commented on #20
that is great, not much hurry, within 3 weeks would work great

[2019-09-14 02:25] keskitalo commented on #27
The LF2 case with CIB now runs in 14 minutes. CIB is still expensive but not prohibitively so. Thanks Andrea!

[2019-09-14 03:15] zonca commented on #27
I guess the rest is reading the nside 4096 maps, we will speed this up once I solve https://github.com/simonsobs/so_pysm_models/issues/45

[2019-09-26 21:00] zonca commented on #20
@bthorne93 do you think you'll be able to work on this next week? I am trying to get all the PySM 2 models into PySM 3

[2019-10-08 05:28] keskitalo opened #30 "Nside=4096 is prohibitively expensive"
Trying to run LAT LF simulation at `Nside=4096`. There are 222 detectors. I can only allocate two MPI processes on each KNL node not to exhaust the memory during PySM call. I split the communicator into 256 groups, each with one node and two processes. There are two rank communicators with 256 MPI processes, each trying to simulate 111 detectors. The job did not complete in two hours. The medium a

[2019-10-08 06:13] zonca commented on #30
I can run some tests to check if this is expected,
do you have a feeling on how this compares to my benchmark at https://github.com/healpy/pysm/issues/25#issuecomment-500657096?

[2019-10-08 06:20] zonca commented on #30
how many threads are you using per MPI process?

[2019-10-08 06:23] keskitalo commented on #30
That comment indicates 40 MPI tasks processing a channel every 60 seconds. Naively assuming perfect scaling, 256 MPI tasks would do the same in 10 seconds or 111 detectors in less than 20 minutes. Of course the KNL cores are slower but we have 32 OpenMP threads for each MPI task.

[2019-10-09 05:37] zonca commented on #30
I started with a scaled down test on Popeye (48 core Intel skylake), basically 1/10 of the job:

13 nodes, 2 MPI processes per node, 24 OpenMP/Numba
* Initialize sky: 143s
* Bandpass integration per channel (10 points like TOAST now): 80s the first channel (loading CIB maps), 6s the others
* Smoothing: 7s
* Memory (with memreport) 9.5GB after initialization, 10 GB at the end

So just spreading map

[2019-10-09 05:58] keskitalo commented on #30
Thanks Andrea. This is really helpful. I cannot say if the memory consumption is driven by PySM or other parts of `OpSimPysm`. What happens if you try to run more than 2 processes per node?

`memreport` gives you the instantaneous memory usage but will not track the high water mark. Unless you are also calling it during PySM it won't be very helpful.

[2019-10-09 06:15] zonca commented on #30
had the same question:

If I run 4 processes per node, same total number of nodes,
Initialize sky: 148s
Bandpass integration per channel (10 points like TOAST now): 80s the first channel (loading and caching CIB maps), 4s the others
Smoothing: 7s
Memory (with memreport) 9.35GB after initialization, 10.5 GB at the end
Total time for 10 channels: 6 minutes

`memreport` is per node, right?

[2019-10-09 06:21] zonca commented on #30
If I run 6 processes per node, 8 threads, same total number of nodes,
Initialize sky: 137s
Bandpass integration per channel (10 points like TOAST now): 75s the first channel (loading and caching CIB maps), 2s the others
Smoothing: 6s
Memory (with memreport) 7.7GB after initialization, 11.6 GB at the end
Total time for 10 channels: 5 minutes

[2019-10-09 06:28] keskitalo commented on #30
Correct: `memreport` is by node.  It is very impressive that you get the same walltime with 4 and 6 processes per node! Can you fit even more processes per node? Are those numbers the available memory on the node or the total allocated?

[2019-10-09 07:05] keskitalo commented on #30
Wow. That is a lot of memory. Without calling `memreport` inside PySM those numbers do not mean much.

[2019-10-09 15:00] keskitalo commented on #30
Comparing the 4x12 to 2x24 the memory consumption is 70% higher. 6x8 needs 130% more memory. Those are notable increases. If the maps were distributed evenly across the communicator, we would not expect any increase, would we?

Perhaps the map distribution in PySM is set up to broadcast the high resolution maps across the communicator before each process extracts its part of the map? If that were

[2019-10-09 15:44] zonca commented on #30
yes, correct, I broadcast the full map. I looked into using `scatterv`, but each process has rings which are not consecutive, and maps are often 2D, so it is going to be very complicated.

Also, in the worst case of IQU map at 4096, we are paying a temporary increase of 2.3 GB of memory per MPI process, so let's say you want to run 4 MPI processes per node, that would be ~10 GB. Or if we compare r

[2019-10-09 16:11] keskitalo commented on #30
So that is 40GB extra memory overhead for `Nside=8192` and just 4 MPI processes per node? I don't think that is the best approach. If `scatterv` is not appropriate, then you can broadcast the map in 100MB pieces.

[2019-10-09 16:20] zonca commented on #30
consider that this price is paid only:

* at initialization for most components
* during 1st channel bandpass integration for CIB (before smoothing)

so there are no timelines yet, so do you plan to have less than 40GB of timelines per node?

[2019-10-09 16:27] keskitalo commented on #30
At this point the pointing has to be expanded already, so even if the signal doesn't yet exist, pixel numbers and pointing weights are in memory. `OpSimPySM` may also be adding to an existing signal so you cannot assume that memory to be available as workspace.

Furthermore, we need to have 8 or 16 MPI tasks per node, not 2 or 4.

[2019-10-09 16:31] zonca commented on #30
could we use MPI shared memory?

[2019-10-09 16:40] keskitalo commented on #30
That would be a step in the right direction. It still means that `nside=8192` would require 10GB of workspace but at least it would not scale with the number of MPI tasks per node.

[2019-10-10 14:52] tskisner opened #31 "DBM error"
Using master branch, with a conda-forge python3.6 stack and running the toast unit tests I get:
[code]
Is the dbm format python version dependent?  Installing the "gdbm" package did not help.

[2019-10-10 15:19] zonca commented on #31
I don't know, it seems an `astropy` issue, not specific to PySM.

I would try to remove your `.astropy` folder, you might have created the url cache file with some other version of python that changed the type of `dbm`?

[2019-10-10 15:28] tskisner commented on #31
Indeed, doing
[code]
solved the problem.

[2019-10-10 18:43] zonca commented on #30
@keskitalo is the PySM call going out of memory in the initialization phase or during integration of the first channel or later on?

[2019-10-10 19:00] keskitalo commented on #30
I don't think the log gave that information. The program termination under OOM is immediate. I'll check once NERSC is up again.

[2019-10-22 18:53] zonca commented on #30
See mpi shared memory example in TOAST: https://github.com/hpc4cmb/toast/blob/master/src/toast/mpi.py#L532

[2019-10-23 06:13] zonca commented on #30
I think the ideal solution would be to have input files in HDF5 and read them directly with a MPI-IO call into local buffers in each MPI process. @keskitalo would this be an option? Would this solution scale to the jobs you need for the current SO simulations?

[2019-10-23 06:18] keskitalo commented on #30
So every process would read the same file? I suppose it works until it doesn't. You should make sure to open the files in read-only mode or otherwise the access is not parallel. We usually prefer read and broadcast because it will scale to very large concurrencies.

Are you planning on adding HDF5 support to Healpy? It is a lot of boilerplate to handle otherwise.

[2019-11-05 15:18] zonca commented on #30
Debugging the memory issue with this configuration (after having implemented the mpi_shared feature in #32):

The low frequency LAT simulation only has 222 detectors. The nominal case runs with 32 nodes. I allocated 128 nodes for the realistic case, organized into groups of 16 nodes (8 MPI procsses per node). This job fails with out-of-memory during OpSimPySM.

Submitted equivalent job on Popeye t

[2019-11-07 08:32] zonca commented on #30
ran on Cori the equivalent of 1 group 16 nodes 8 MPI processes per node, see `memreport` below:

[code]

[2019-11-07 15:03] keskitalo commented on #30
Are you calling `memreport` at the time of the highest memory requirement or after the operator finishes? Recall that `memreport` does not track the high watermark but only the current memory.

[2019-11-07 15:10] zonca commented on #30
in my tests on Popeye `memreport` (inside the Operator) was pretty close with what I got with `seff`. @keskitalo what do you use to get high watermark on Cori?

[2019-11-07 15:28] keskitalo commented on #30
I just call `memreport` where the memory consumption is expected to be the highest.

[2019-11-08 01:07] zonca commented on #30
Asked NERSC, they don't have any suggestion on how to get the high watermark properly.
So I created 4GB timelines for each process,
so now even before PySM we are at:

[code]

at the end:

[code]

Now trying with 8GB per MPI process.

[2019-11-08 01:53] zonca commented on #30
works fine also with 8GB timelines per MPI process:

[code]

at the end:

[code]

[2019-11-08 02:44] zonca commented on #30
10GB failed with OOM

[2019-11-10 16:37] zonca commented on #30
Looking again to this I realized that the MPI shared memory goes into `shared` and that is not properly cleared by Python. So I am now calling `win.Free()` explicitly and memory usage went down.
Now also 10 GB fake timelines per node work fine:

[code]

See how shared memory is reduced now.
I'm closing this issue, reopen if needed.

[2019-11-10 16:37] #30 closed

[2019-12-11 21:13] zonca commented on #9
implemented in each model's `get_emission` method using the numba `utils.trapz_step_inplace` function.

[2019-12-11 21:13] #9 closed

[2019-12-11 22:17] zonca commented on #20
@bthorne93 as of 5b124e8 I have implemented all PySM 2 models into PySM 3 except the 3 HD models.
Can you please complete the port before the break? if not, can you please point me to your work in progress so I can start from there?

[2019-12-12 00:32] zonca opened #35 "Looking for beta testers"
All PySM 2 models except HD2017 dust are implemented.

Looking for beta-testers, please look at the docs:
http://pysm3.readthedocs.org/

Try to install and run some models, if you find bugs, please open a dedicated issue.
If you have general feedback, please reply here. In particular I am looking for high level feedback:

* is there any feature you need that is missing?
* can the interface be simp

[2019-12-12 08:01] dpole commented on #35
Thanks a lot @zonca. I'll upgrade the fgbuster dependency to pysm3 and let you know if I have comments.

[2019-12-20 17:11] bthorne93 commented on #20
@zonca this now exists on the branch `hd17`. I have the model implemented in a way that is equivalent to PySM v2. However, before making a pull request: it seems that `sky.get_emission` does not behave in the way I expect.

[2019-12-20 17:15] bthorne93 opened #36 "Return shape of `ModifiedBlackBody.get_emission` for array inputs"
When executing the following code:

[code]
I get an array of shape (3, npix), rather than (nfreqs, 3, npix). This is not the expected behavior according to the docstring. It looks like the code automatically defines a 'bandpass' with equal weight at each of these frequencies, and averages over them.

[2019-12-20 17:18] zonca commented on #36
Sorry, I need to update the docstring.
I decided to simplify the API, if you want separate frequencies not integrated you need to run the method multiple times

[2019-12-20 17:48] bthorne93 commented on #20
`hd17` now cooperates with the new API to assume one channel being evaluated. Will need to be refactored, as currently it holds all the individual frequencies in memory, then integrates over the bandpass.

[2019-12-20 21:15] zonca commented on #20
Thanks! This helps me a lot!
I'll pickup from here

[2019-12-20 22:48] bthorne93 commented on #20
I just pushed what I had left on my local version, which I think is closer to the correct way of doing it. I'll leave it to you from here, then!

[2019-12-21 04:35] #36 closed

[2019-12-21 04:51] zonca commented on #35
Now I also have a conda package: https://anaconda.org/conda-forge/pysm3
Still, for now better to build from source as the package is changing a lot, but for a quick test, the conda package is fine.

[2020-01-31 15:57] zonca opened #38 "Implement 3D model of dust emission"
Got in touch with Ginés Martínez-Solaeche and Jacques Delabrouille about implementing the model: "A 3-D model of polarised dust emission in the Milky Way" published in https://arxiv.org/abs/1706.04162

Would like first to complete and merge #37 that we could use as a reference.

It would be nice to know:

* is there already a Python implementation of the model?
* would a frequency-based interpolat

[2020-02-11 22:28] zonca opened #39 "Scale PySM on parallel run"
MSS-001 production run

* 700 nodes
* 10 nodes/group
* 70 groups
* 8 MPI processes/node
* ~ 7 observation per group
* 2580 channels
* 1/20th year
* TOD channels per node 258
* PySM channels per group 2580/70 = 37, per node 4

[2020-02-11 22:48] zonca commented on #39
![IMG_20200211_142011](https://user-images.githubusercontent.com/383090/74286282-49a09c00-4cdc-11ea-8db1-6e7c53951058.jpg)

The PySM operator distributes the channels equally across groups and then runs in each group. It uses shared memory so only 1 copy of inputs by node, there is no redundant work. In each node PySM should pick up some channels of the local TOD channels.

In the example in the i

[2020-02-11 22:49] zonca commented on #39
@keskitalo: please review the write-up above.

[2020-02-11 23:24] keskitalo commented on #39
Exactly as I remember. This will be a huge improvement.

[2020-03-04 14:39] NicolettaK opened #40 "installing PySM3 at NERSC"
I'm having problems at installing pysm3 at nersc.
I'm using the `pip install pysm3` command with the `--prefix` option and getting the following error:

`   ERROR: Command errored out with exit status 1:
     command: /usr/common/software/tensorflow/gpu-tensorflow/1.15.0-py37/bin/python -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-aftj8io3/pysm3/setup.py'"'"'; __file__

[2020-03-04 15:33] zonca commented on #40
Have you tried the conda package?

[2020-03-04 15:37] NicolettaK commented on #40
No, I usually prefer to use pip at NERSC, but I can try with conda if you recommend so.

[2020-03-04 15:45] zonca commented on #40
Do you want to also install mapsims?

On Wed, Mar 4, 2020, 07:37 Nicoletta Krachmalnicoff <
notifications@github.com> wrote:

[2020-03-04 16:01] NicolettaK commented on #40
great! thanks!

[2020-03-04 16:18] zonca commented on #40
give me a few days, I want to find a way to properly handle once and for all the case of running on the login node (where I cannot import `mpi4py`).

[2020-03-04 16:44] zonca commented on #40
@NicolettaK for now do:

[code]

I found the last step needed otherwise it always loads the base environment.

Then quick test:

[code]

[2020-03-06 08:18] NicolettaK commented on #40
It worked. Thanks!

[2020-03-08 11:39] dpole commented on #40
I've got the same problem when installing pysm3 in a clean conda environment on my laptop. `pip install pysm3` fails with Nico's error message.

Installing the pysm3 through conda works, but I'd like to add pysm3 as a dependency to another package that I is currently pip-installable.

[2020-03-08 14:32] zonca commented on #40
Have you tried installing astropy_helpers?

On Sun, Mar 8, 2020, 04:39 Davide Poletti <notifications@github.com> wrote:

[2020-03-09 11:47] dpole commented on #40
Thanks. Yes, if I installed the modules by hand it worked. However, I found that the problem was that `pip` was picking the system install instead of the one on the conda environment. Probably I initialized the environment with `conda create -n myenv` instead of `conda create -n myenv python=3.7`. In the latter case everything works. I hope this saves others' time...

[2020-03-10 10:21] dpole opened #42 "Get the emission at multiple frequencies"
My most common case of use is the production of a multi-frequency observation with delta band passes. I have the frequencies of my experiment in an array of shape `(n_freq)` and I'd like to get an array of shape `(n_freq, n_stokes, n_pixels)` containing the observation.

From a quick look at the doc and the code, it seems to me that `Sky.get_emission` can only return `(n_stokes, n_pixels)`: arrays

[2020-03-10 14:38] zonca commented on #42
Correct, you need to iterate.
This brought a significant simplification of the API so I decided it was the best choice.

But if you have a benchmark where you can show a significant performance penalty, we can reconsider.

[2020-03-10 14:53] dpole commented on #42
Thanks for the prompt feedback. I don't have any. I am not concerned about performance, I was just looking for the cleanest way to get a multi-frequency observation with this new pysm version.

[2020-03-10 14:53] #42 closed

[2020-03-13 01:41] martinjameswhite opened #44 "Unable to reproduce Haslam map."
I think I must be doing something wrong with the synchrotron maps since I am unable to reproduce the Haslam 408MHz map; see attached notebook.

[CheckHaslam_pysm3.ipynb.gz](https://github.com/healpy/pysm/files/4327433/CheckHaslam_pysm3.ipynb.gz)

[2020-03-20 21:59] zonca commented on #44
thanks @martinjameswhite for reporting this.

I confirm there is a bug in the unit handling, we usually only use GHz so never noticed,
I'll work on a fix and close the issue when this is solved.

In the meantime use GHz: https://gist.github.com/zonca/12e92bc3bdf0750654229facd8443319

[2020-03-20 23:13] martinjameswhite commented on #44
Thanks!  I'll switch to GHz for now.

[2020-03-24 08:15] delabrou commented on #38
There is no python implementation yet.
A frequency-based interpolation of existing maps would be a suitable implementation. I produced (hundreds of) maps at frequencies ranging from 1 GHz to 1 THz last year for CMB-S4, with a small Delta_nu, and uploaded them at NERSC, but I cannot find where now. One could interpolate those. They are at nside=512 if I remember correctly.
Alternatively, we could p

[2020-03-24 17:12] zonca commented on #38
Thanks @delabrou,
I would rather skip the intepolation, also because we want nside 8192.

We have this models for dust:
https://github.com/healpy/pysm/blob/master/pysm/models/dust.py

Do you think it would be feasible to modify one of the classes in `dust.py` to implement your model?
We would want inputs both at nside 512 and nside 8192.

[2020-03-26 08:38] #44 closed

[2020-03-26 15:50] yaojian95 commented on #35
Thanks for your effort to update the PySM2 package @zonca !

So except for the improvements for engineering part, what's the main scientific differences from PySM2?

[2020-03-26 16:44] zonca commented on #35
Nothing yet, but next will add all models from https://github.com/simonsobs/so_pysm_models with resolution up to 8192

[2020-03-30 02:33] YutoMinami opened #48 "Making Gaussian realisaions of foregrounds ?"
For the validation, I'd like to make some different realisations of foregrounds assuming Gaussian variance. Are there any way to implement this in PySM?
I can realise using healpy for each output frequency map. However, foreground maps should be correlated among frequencies. I think I have to create different realisations before the colour corrections.

[2020-03-30 16:47] jchamilton75 opened #49 "CMB only with different scaling in integrated bands"
I am simulating pure CMB and because I want to update my cosmology easily, I use the pysm.CMBMap(nside, filename) with a set of I,Q,U maps I have simulated with synfast from my model (Note that I don't care about having the non-gaussian features from taylens here, so doing what I do is sufficient).

I do it like that:

[code]

and then when I want to get this map from PySM, I do:

[code]

where nu

[2020-03-30 17:30] zonca commented on #49
bandpasses are assumed to be in power units, `MJ/sr`, so it is expected that bandpass-integrated emissions have a discrepancy with a delta-bandpass at the center.

[2020-03-31 07:56] jchamilton75 commented on #49
OK thanks I understand, so I will weight them accordingly.
Thanks a lot

[2020-03-31 14:35] jchamilton75 commented on #49
Sorry Andrea, me again...
I'm afraid I could not find a way to weight my band integration properly in order to get exactly the input CMB in each band... Could you help me with this ?

I did the following:
`            nfreqinteg = 5
            nus = np.linspace(nus_edge[i], nus_edge[i + 1], nfreqinteg)
            freqs = utils.check_freq_input(nus)
            print(nus)
            print(freqs)

[2020-03-31 14:39] jchamilton75 commented on #49
Sorry Andrea, me again...
I'm afraid I could not find a way to weight my band integration properly in order to get exactly the input CMB in each band... Could you help me with this ?

I did the following:

            nfreqinteg = 5
            nus = np.linspace(nus_edge[i], nus_edge[i + 1], nfreqinteg)
            freqs = utils.check_freq_input(nus)

            convert_to_uK_RJ = (np.ones(len(fr

[2020-04-03 04:18] zonca commented on #49
I don't have time to do user support, try to do a uniform weighting in `MJ/sr`

[2020-04-03 04:18] #49 closed

[2020-04-06 18:00] zonca commented on #48
the components included in PySM are deterministic.
Maybe you can check this:
https://so-pysm-models.readthedocs.io/en/latest/models.html#gaussiansynchrotron

[2020-04-07 04:54] YutoMinami commented on #48
Thank you. The page looks very helpful for me.
As a tentative treatment, I made different realisations of a pivot frequency map following Gaussian fluctuations, and extrapolate them to each frequency as d1 or s1 models in PySM do.

[2020-04-07 04:54] #48 closed

[2020-04-08 22:32] delabrou commented on #38
I think it might be doable to modify one of the classes. What we need is just a sum of six blackbodies, i.e. six dust blackbody components.
inputs a side 512 should be no problem. We can just give maps of amplitude (IQU), temperature and spectral index for each of the six dust components, corresponding to one realisation of the model. 8192 is challenging. For now I can do 2048 and then we upgrade?

[2020-04-08 22:51] zonca commented on #38
if you can only do nside 2048 no problem, we can use those, PySM will ud_grade them to the requested nside.

so you could start working on a pull request to this repository which adds a class to `dust.py` (or better create another file) and then add documentation and link to paper on https://github.com/healpy/pysm/blob/master/docs/models.rst

[2020-04-14 18:11] zonca opened #52 "Support local data path"
Port local folder lookup from `so_pysm_models` to PySM:

https://github.com/simonsobs/so_pysm_models/blob/master/so_pysm_models/utils/__init__.py#L47

but also support an environment variable.

Add also docs on how to clone the data.

Related to https://github.com/hpc4cmb/toast/issues/330

[2020-04-15 18:05] #52 closed

[2020-04-15 18:08] #40 closed

[2020-04-15 19:20] zonca commented on #35
@aiolasimone, just released PySM 3.2.0,
this is the first release which includes all the models, it would be nice to have more beta-testers,
install instructions at https://pysm3.readthedocs.io/en/latest/#installation

[2020-04-16 10:24] jchamilton75 opened #54 "Issue at NERSC (CORI) with PySM 3.2.0 (units conversion)"
Hi ! I'm running PySM at NERSC on CORI and I have an error that appeared with version 3.2.0 and was not there with 3.1.0. This is when converting units. The simple script below triggers the error on Cori with 3.2.0 and not with 3.1.0:

`import numpy as np
import pysm
import pysm.units as u
from pysm import utils

print('PySM version:',pysm.__version__)
nus = np.linspace(130., 170., 12)
print('nus:

[2020-04-16 17:02] #54 closed

[2020-04-16 17:03] zonca commented on #54
my bad @jchamilton75 , it was missing a docstring.
I am not using units anymore for that function. because it is mostly used internally by the models and there we are always working in GHz anyway.

[2020-04-29 07:12] zonca commented on #38
@delabrou any updates on this?

[2020-06-19 16:07] delabrou commented on #38
I got back to this recently, I found a bug in my code when Nside is different from 512. I am fixing it now and checking everything. More later.

[2020-06-22 10:27] dpole opened #58 "ImportError for importlib_resources in python 3.6"
Apparently `importlib_resources` doesn't get installed in python 3.6 but seems to be required.
Is it something to be fixed in the install process or is it a problem on my side?

[2020-06-22 14:14] zonca commented on #58
Are you installing with pip from PyPI?

On Mon, Jun 22, 2020, 03:27 Davide Poletti <notifications@github.com> wrote:

[2020-06-22 14:18] dpole commented on #58
No. I install it as a dependency of another library, cloning the master branch of the github repo:
`pysm3 @ git+http://github.com/healpy/pysm.git@master#egg=pysm` in the `install_requires` of my `setup.py`

[2020-06-22 14:20] zonca commented on #58
I would recommend to use published releases on PyPI. Master could be broken from time to time.
Can you check if this happens also installing from PyPI?

[2020-06-22 15:21] dpole commented on #58
Yes, it worked. I think I used to need the dev version but it doesn't seem to be the case anymore. thanks.

[2020-06-22 15:26] zonca commented on #58
great news!

On Mon, Jun 22, 2020 at 8:22 AM Davide Poletti <notifications@github.com>
wrote:

[2020-06-23 07:32] dpole commented on #58
I realized that I didn't remove my workaround (`importlib_resources` in addition to `pysm3` in my `install_requires`). If I remove it, I still get an error from `pysm.sky` because `import_resources` doesn't get installed with `pysm3`. Any idea? Not urgent anyway

[2020-06-23 14:37] zonca commented on #58
thanks @dpole, it was actually missing from the dependencies, I just released 3.2.2, can you please test it?

[2020-06-24 10:50] dpole commented on #58
Yes, it now installs and runs smoothly. Thanks for the quick action

[2020-06-24 15:10] #58 closed

[2020-07-01 18:55] #35 closed

[2020-07-12 16:46] zonca commented on #38
@delabrou any progress?

[2020-07-29 11:46] NicolettaK opened #59 "possible problem in bandpass_unit_conversion"
Hi,
I'm working with bandpass integration.  In order to check that results are correct I'm doing the following:
I integrate a CMB map in two different bands and then check that the integrated maps in thermodynamic units are still equal. This is what I expect for CMB in thermodynamic units also after band integration.

The code I'm using is the following:
[code]

if then I plot `CMB_thermo_int_100[

[2020-07-29 14:25] zonca commented on #59
bandpass integration is in units of power, so I don't expect to get zeros. Still there could be a bug, we need more detailed test.

[2020-07-29 15:32] NicolettaK commented on #59
Hi @zonca,
I think that the CMB in thermodynamic units should always be flat, independently from the units in which you do the bandpass integration.
See below:

<img width="500" alt="Schermata 2020-07-29 alle 17 01 11" src="https://user-images.githubusercontent.com/14818456/88817001-50a16500-d1bd-11ea-91de-3104803e29ce.png">

Given that, I expect to get a map of zeros in the computation described

[2020-07-29 15:37] zonca commented on #59
isn't the default of `pysm.Sky` `K_rj`?

[2020-07-29 15:42] NicolettaK commented on #59
yes it is, and the computation of `pysm.Sky` which returns the map in K_RJ I think is correct (third equation above).
I think there might be a problem in `bandpass_unit_conversion` that should allow to convert the output of `pysm.Sky` into K_CMB, taking into account the band

[2020-07-29 15:53] zonca commented on #59
do you understand where the function `bandpass_unit_conversion` is wrong and provide a fix?

[2020-07-29 15:57] NicolettaK commented on #59
The function I have implemented is this one:

[code]

[2020-07-29 17:17] zonca commented on #59
Great thanks, can you please implement that in a pull request and write a unit test?

[2020-07-30 08:06] NicolettaK commented on #59
Ok, I can do that!

[2020-08-25 00:57] zonca commented on #59
fixed in #60

[2020-08-25 02:27] zonca commented on #59
More details on the problem and impact on existing simulations https://zonca.dev/2020/08/debug-bandpass-unit-conversion-pysm3.html

[2020-08-25 18:19] zonca commented on #59
@keskitalo has an implementation of unit conversion for Planck derived from the IDL code.
@keskitalo could you please provide `CMB2MJysr` and `MJysr2KRJ` for the frequency averaged bandpasses just for HFI?

See https://github.com/healpy/pysm/pull/60/files#diff-ffcf022db138d558b1ea4c56ed5338d4R44-R57 for what I have currently.

[2020-08-26 20:23] zonca commented on #59
Trouble.

`tod2flux` agrees very well with the Planck published figures, PySM 2 and 3 give different results.
I have identified that the difference is a linear weighting in frequency which is applied in `tod2flux` but not in PySM.

See this snippet from `tod2flux`:

[code]

I don't understand where `cfreq/freq` is coming from, @keskitalo do you know if this comes from the definition of the weights

[2020-08-26 20:27] zonca commented on #59
also, the `cfreq/freq` factor is not normalized, here is its mean for all frequencies in order:

[code]

[2020-08-26 21:24] keskitalo commented on #59
The calculation of the HFI unit conversion coefficients is written up in https://arxiv.org/abs/1303.5070. The specific case of K_CMB->MJy/sr requires Eq:s (22), (23), (8) and (9). `cfreq/freq` follows from equating an IRAS spectrum source (slope=-1) with the CMB at the nominal central frequency, `cfreq`.

If you use as reference any other standard spectrum, you'll find a different unit conversion

[2020-09-05 06:23] zonca commented on #59
ok, thanks @keskitalo
I think now it is clear and everything should be consistent in #61,
I had to write myself a couple of notebooks to remind me how it worked (https://zonca.dev/2020/09/unit-conversion-broadband-cmb.html and https://zonca.dev/2020/09/unit-conversion-broadband-foregrounds.html) and also added plenty of explanation as comments into the code.

[2020-09-05 06:23] #59 closed

[2020-09-08 17:20] chervias opened #62 "Error when I try to include dust model in a simulation"
I updated to the latest vesion 3.2.2, but I cannot run a model that includes dust. For example, if I run this example

`import pysm3`
`import pysm3.units as u`
`import healpy as hp`
`import numpy as np`
`import warnings`
`warnings.filterwarnings("ignore")`
`sky = pysm3.Sky(nside=128, preset_strings=["d1", "s1"])`
`map_100GHz = sky.get_emission(100 * u.GHz)`

I get this error

[code]

[2020-09-08 18:20] zonca commented on #62
can you update `astropy` and `numba` and check if you get still the same error?

[2020-09-08 18:22] zonca commented on #62
also, please run inside `IPython` or `Jupyter Notebook` and run the debugger with `%debug`, then print all the inputs to `get_emission_numba` (use `p variablename`)

[2020-09-08 19:37] chervias commented on #62
I updated numba (version 0.51.2) and astropy (version 4.0.1.post1), and I still get the same error. I run in a Jupyter notebook, but I don't really know how to use the debug. I run `%debug` after the error, and it let me print the values of the variables `value`, `tp` and `tb`, which are the variables in the last function at the end of the error chain, but I cannot print the other variables up the

[2020-09-08 19:43] zonca commented on #62
Use u and d to navigate down and up the stack. Or Google for using Python debugger pdb

[2020-09-08 20:03] chervias commented on #62
ok thanks, that makes sense. These are all the inputs to `get_emission_numba`. They seem to be fine.

ipdb>  u

     97         freqs = utils.check_freq_input(freqs)
     98         weights = utils.normalize_weights(freqs, weights)
---> 99         outputs = get_emission_numba(
    100             freqs,
    101             weights,

ipdb>  p freqs

array([100.])

ipdb>  p weights

array([1.])

ipd

[2020-09-08 20:10] zonca commented on #62
ok, I can reproduce the issue, I'll work on a fix

[2020-09-08 20:11] chervias commented on #62
ok thanks!

[2020-09-08 20:59] zonca commented on #62
ok, I believe it is a bug in `numba`, which I reported at https://github.com/numba/numba/issues/6228.

So you either downgrade `numba` to `0.49.1` or install pysm from the `master` branch as soon as I commit the fix.

[2020-09-08 21:00] #62 closed

[2020-10-02 15:16] giuspugl opened #64 "Including CO molecular emission"
It would be great if we can include this emission into pysm, similarly to what we've done in https://github.com/simonsobs/so_pysm_models/blob/master/so_pysm_models/co_lines.py

@zonca  do you think that the interface changed that much ?

[2020-10-05 00:16] zonca commented on #64
Yes, I'll import all components into PySM3 and then discontinue so_pysm_models

[2020-10-05 16:07] giuspugl commented on #64
sounds great! thanks a lot!

[2020-10-12 20:42] brandonshensley opened #65 "macOS Catalina Compatibility Issues?"
I recently updated my Mac OS to Catalina, and the first thing post-upgrade was getting my Python packages back up and running. Unfortunately, I was unable to get pysm3 to install via conda following the docs, though the pip install worked without issue. Perhaps that should have been a warning sign.

When I try to run the simple code:

[code]

I get an ominous OMP error:

I will try the suggested w

[2020-10-12 20:51] zonca commented on #65
it must be `libsharp`, can you try uninstalling it?

if you are not using `libsharp`, then it must be `healpy`, in that case can you run something in `healpy` and check it works?

[2020-10-12 20:55] brandonshensley commented on #65
Yes indeed, I get the same error when running the following:

[code]

[2020-10-12 22:24] zonca commented on #65
There is a specific issue with Catalina mentioned here:
https://healpy.readthedocs.io/en/latest/install.html

Have you tried that?

[2020-10-13 12:12] brandonshensley commented on #65
Thanks @zonca! I removed my pip installation and installed both healpy and pysm3 through conda using the instructions at the page you linked. This seems to have taken care of the problem.

[2020-10-13 12:12] #65 closed

[2020-11-14 18:01] zonca opened #69 "Dust spectral index and temperature based on GNILC"
See comparison between GNILC and PySM 2 here:
https://nbviewer.jupyter.org/gist/zonca/c6aa3e83f0151666e33a28cc84c0ba20

Suggestion by Hans Kristian (referring to the PySM 2 templates) was:

FWHM, to suppress the worst CO, point source and CIB effects

sensitivity

However no idea how to proceed. @brandonshensley @NicolettaK?

[2020-11-16 10:21] NicolettaK commented on #69
Hi @zonca.
I have the new templates for thermal dust beta and temperature that we are currently using for LiteBIRD.
They are obtained by smoothing the Commander maps at 2°. No need to reduce the beta range as it is already ok after smoothing. Shall I share them with you?

[2020-11-16 16:18] zonca commented on #69
no @NicolettaK thanks, I think it would be better to use the GNILC products for templates / spectral indices / dust temperature

[2020-12-06 11:28] NicolettaK opened #70 "problem with get_emission when running in parallel"
Hi,

I need to run pysm3 in parallel, but I'm encountering a problem I can't solve.

I have this simplified version of my code:

[code]

I'm trying to run it on a interactive job at NERSC: `salloc -N 2 -C knl -q interactive -t 04:00:00`
I then set `export OMP_NUM_THREADS=2`
and run the code with: `mpirun -np 100 python test_parallel.py`

what happens is the following:
the code correctly writes in

[2020-12-06 16:14] zonca commented on #70
Can you please provide a test code I can execute to reproduce the issue?
Is there any error message?

On Sun, Dec 6, 2020, 03:29 Nicoletta Krachmalnicoff <
notifications@github.com> wrote:

[2020-12-06 16:54] NicolettaK commented on #70
Hi @zonca, with the code I posted and the interactive job you should be able to reproduce the problem.
No error, it keeps running but without writing anything on disk.

[2020-12-14 20:59] zonca commented on #20
implemented in #37 and #51

[2020-12-14 20:59] #20 closed

[2021-01-14 00:52] zonca commented on #70
sorry @NicolettaK, keep having higher priority items step in front of this,
it's going to take time.

[2021-01-29 23:50] zonca commented on #70
@NicolettaK I think it is the number of threads of `numba`,

I tested with this and worked fine, but better if you test yourself and confirm:

[code]

[2021-02-18 17:44] zonca commented on #70
@NicolettaK have you had a chance to test this? I would like to add this to the docs if you confirm it works

[2021-02-27 21:00] #70 closed

[2021-04-03 04:51] zonca commented on #38
from @delabrou:

The components/thermaldust/ sub-directory contains maps of IQU, Temperature, and spectral index in the various layers, with straightforward names. In the skyinbands/HFI folder I have observations of the model in three significant Planck frequency bands, for reference and checks.
This specific realization of the model can then be easily implemented in PySM3, by simply summing-up th

[2021-05-14 18:39] zonca opened #75 "Simulate bandpass mismatch with PySM for numerous arrays"
Current sky models at high resolution are very expensive to run, especially memory-wise.

A complete sky model with CMB, foregrounds and extragalactic can have 8-9 components, each needs to load a number of high resolution maps, generally 2 or 3, but sometimes 5 or 6.

Running everything on the fly seems very expensive. Some pre-computation is most probably needed.
The simplest model would be to o

[2021-05-14 18:42] zonca commented on #75
@keskitalo based on today's discussion I thought about an approach for simulating bandpass mismatch, do you think this would work?

[2021-05-14 19:09] keskitalo commented on #75
Different spectral indices imply different shifts in central frequency for the same bandpass. I don't see how this model would work for more than one foreground component at the time. And not even then if the component has varying spectral index across the sky.

In the NPIPE analysis we took each foreground component and evaluated the component and its frequency derivative at the nominal center fr

[2021-05-14 19:52] zonca commented on #75
I don't follow you here. I am not simulating the sky at the center frequency, I am integrating the whole bandpass just shifted by the center frequency shift. So I capture both the different spectral indices of the components and also if a component has varying spectral index across the sky.

Yes I think this also works, but it is more complicated, how do you properly estimate the derivatives?

[2021-05-14 20:38] keskitalo commented on #75
I must have misunderstood. Yes, if you are convolving the sky model with the shifted bandpasses, that obviously works. The only trouble is that it locks you into a particular shape and mismatch of bandpass.

The NPIPE formalism can accommodate various bandpass shapes.  Different shapes map to different prefactors on the derivatives. As for evaluating the derivatives themselves, that just requires

[2021-05-19 05:11] zonca commented on #75
## Precompute sum of components at delta frequencies

With similar memory usage of the 2 approaches above, we could also precompute the sky emission with all the components summed at 10 or 20 points in frequency (delta-frequency), possibly distributed more densely in the center of the band and more sparsely at the sides. Then integrate the bandpasses with `trapz` or something similar for each chan

[2021-05-26 16:28] zonca commented on #75
@smsimon in https://github.com/simonsobs/instrument_model/tree/master/instrument_hardware/modeled_bandpasses we have some expected average bandpasses. Do we have any idea on how do bandpasses vary from detector to detector?

[2021-05-26 16:32] smsimon commented on #75
This depends on each individual fab. Do you want detector to detector on a given wafer or between wafers? The second is usually larger

[2021-05-26 16:35] zonca commented on #75
thanks @smsimon it would be nice to have both, even if they are approximate, they would still help understand how to better do the integration.

[2021-05-26 16:40] smsimon commented on #75
I think we can just assume a ~2% uncertainty for now (there's also systematic effects in measuring the bands, but those are more difficult to parameterize)

[2021-05-28 16:34] jdborrill commented on #75
Assuming that the band doesn't change over the course of the mission, this cost is massively subdominant to the time-domain processing *unless* we cut the timestream into many small, independent, jobs.

[2021-09-16 22:16] zonca opened #83 "GNILC dust models d9 configuration"
I propose to continue the PySM 2 numbering, the first model should be `d9`.

## Templates

The new GNILC dust IQU templates are being implemented in #82
What should we use for spectral index and dust temperature?

## Resolution

The model will be natively at 8192, so we want to also have a version of it at 512, so it keeps being usable on laptops.
My proposal is to generate all templates both at 8

[2021-09-16 22:17] zonca opened #84 "GNILC dust model with stochastic small scales and variable specral index d11"
Based on `d10`

`d11` will have templates just at large scale saved at low nside, C_ell of small scales and map of modulation at low nside loaded from network.
`synalm` + `almxfl` + `alm2map` to generate templates on the fly.
Using a specific seed should reproduce `d10` but on the fly.
If seed is not specified, the small scales are stochastic.

[2021-09-16 22:18] zonca commented on #84
@giuspugl @seclark @bthorne93 @brandonshensley any feedback?

[2021-09-16 22:23] brandonshensley commented on #84
This sounds great. Though I am not sure why we need to store the high nside maps for d9 at all? Just to save on computation time for when you don't need many realizations?

[2021-09-16 22:23] seclark commented on #84
Let's be sure to include positive TE in the small-scale C_ell

[2021-09-16 22:55] brandonshensley commented on #83
We should follow [Planck 2018 XI](https://www.aanda.org/articles/aa/full_html/2020/09/aa32618-18/aa32618-18.html): beta = 1.48 for I and 1.53 for Q and U. If both need to be the same, then probably 1.48. For temperature, T_d = 19.6 K.

[2021-09-17 03:43] zonca commented on #84
correct, anyway the maps are only cached by the user if needed, so it is not a big issue.

[2021-09-17 03:48] zonca commented on #83
so you confirm you don't want to use a map but prefer constant over the sky? I can have 2 coefficients for I and pol.
do we also need other model with variable beta and T_d?

[2021-09-17 04:43] zonca commented on #84
so, based on the notebook at: https://nbviewer.jupyter.org/gist/zonca/79f202f1d7decb59767e70fdcb46f5d6
We save just TEB in logpoltens formalism. Then when we transform back from logpoltens to IQU, we should get some TE.
Do you think we should double-check that the TE we get is positive?
I added TE comparison at the end between input and outputs:

![image](https://user-images.githubusercontent.com/

[2021-09-17 08:23] giuspugl commented on #83
Having variable spectral parameters are of course one of the challenges for many foreground cleaning methodologies. I am in favor of having another model with spatially variable beta and T_d ,   e.g. the ones from GNILC maps (see [Planck 2016](https://www.aanda.org/articles/aa/full_html/2016/12/aa29022-16/aa29022-16.html).

[2021-09-17 15:32] zonca opened #85 "GNILC dust model with variable spectral index and dust temperature d10"
Having variable spectral parameters are of course one of the challenges for many foreground cleaning methodologies. personally, I am in favor of having another model with spatially variable beta and T_d ,   e.g. the ones from GNILC maps (see [Planck 2016](https://www.aanda.org/articles/aa/full_html/2016/12/aa29022-16/aa29022-16.html) ).

_Originally posted by @giuspugl in https://github.com/galsci

[2021-09-17 15:34] zonca commented on #85
@giuspugl @seclark @brandonshensley this could be `d11`, we need a volunteer to prepare these 2 maps, possibly adding small scales as well.

[2021-09-17 15:37] giuspugl commented on #85
this might  be interesting!  do you mean to  inject small scales into the maps of beta and T_d ? that's gonna be totally different approach wrt LogPol tens. formalism ..

[2021-09-17 15:40] brandonshensley commented on #85
Yes, sorry, was thinking about the d0 model when I gave values for beta and Td. We do absolutely need spatially variable beta and Td maps, ideally with small scales added in a way similar to how the I maps are handled currently. For simulation purposes, I don't think anything simpler than this proposed d11 is realistic.

[2021-09-17 15:49] giuspugl commented on #85
I will  prepare a notebook that 'll combine all the maps for this new `d11`  model.

[2021-09-17 16:01] zonca commented on #85
@brandonshensley I'd rather also keep `d9` with uniform spectral index, so we have an equivalent of `d0`. However if you think it is more harmful than useful, we can use variable index in both `d9` and `d10`.

[2021-09-17 16:03] zonca commented on #85
thanks @giuspugl, please just do spectral index and T_d copying functions from the other notebook. don't do all together.

[2021-09-17 16:04] brandonshensley commented on #85
That sounds fine to present them as an updated `d0`.

[2021-09-20 16:22] giuspugl commented on #85
I have looked into the GNILC spectral parameters maps released in
http://pla.esac.esa.int/pla/aio/product-action?MAP.MAP_ID=COM_CompMap_Dust-GNILC-Model-Spectral-Index_2048_R2.00.fits
and
http://pla.esac.esa.int/pla/aio/product-action?MAP.MAP_ID=COM_CompMap_Dust-GNILC-Model-Spectral-Index_2048_R2.00.fits

The major concern is that the sub-degree scales in those maps are present and it is hard to s

[2021-09-20 16:27] brandonshensley commented on #85
Thanks Giuseppe, this is a nice analysis. I like that plan a lot.

[2021-09-21 06:38] zonca commented on #83
@giuspugl @brandonshensley @seclark I have templates at 8192 and 1024 to be checked. See https://portal.nersc.gov/project/cmb/pysm-data/gnilc/

[2021-09-21 06:46] zonca commented on #84
I have done a test where I reproduce the `d9` model by using the same seed, the input maps,cl,alms used here are available at https://portal.nersc.gov/project/cmb/pysm-data/gnilc/:

https://gist.github.com/fa6e78df72230028ac027cf0e338aa74

The plan is that this model can be generated directly at any NSIDE.

I don't want to create too many models, so my proposal is:

* `d9` with templates at 1024 a

[2021-09-21 06:46] zonca commented on #85
Renamed to `d10` so we go in order of complexity

[2021-09-22 21:56] brandonshensley commented on #38
In case it is useful, [here](https://gist.github.com/brandonshensley/1dda561b245cda6497eb1b5ce2b7c267) is a super simple notebook for evaluating the MKD model at any frequency using the files @delabrou provided.

[2021-09-22 22:46] delabrou commented on #38
Hi Brendan

Thanks, this is useful. While the general amplitude of the I857/I353 ratio fluctuates with an amplitude similar to that we see on real data, It is not distributed as that of real data, so this probably requires further investigations / refinements in the future (again, along the line of correlation of color with total amplitude)…

Jacques

[2021-10-05 19:28] zonca commented on #64
see https://github.com/galsci/pysm/pull/86

[2021-10-05 19:28] #64 closed

[2021-10-05 19:44] zonca commented on #85
@giuspugl can you please continue the work on spectral index and dust temperature from GNILC in https://github.com/galsci/pysm/issues/69?

[2021-10-06 04:43] zonca commented on #38
ok, started to work on this in https://github.com/galsci/pysm/pull/87

[2021-10-06 10:39] giuspugl commented on #69
I've finalized a procedure to inject smaller angular scales to the spectral parameters.
- we use the Planck GNILC maps of Bd and Td.
-  fit a power law in the range $\ell \in [100,400]$ which corresponds to the range we fit the Intensity GNILC 2015 map
- for the whole analysis we evaluate fullsky power spectra with `ANAFAST`
- Modulate by total intensity map  both Bd and Td (?)

![image](https://u

[2021-10-13 04:53] zonca commented on #38
yes, @brandonshensley, can you please share your nside8 maps?

[2021-10-13 06:22] zonca commented on #38
nevermind, I just ran your notebook

[2021-10-13 21:19] zonca commented on #38
I fixed some issues, I still get a discrepancy of a few percent, too big to be due to rounding errors. I am worried about the unit conversions.

So in @brandonshensley 's notebook if I consider pixel 0 of the first layer:

353GHz 0.06112886862365485 MJ/sr
the mbb scaling factor is: 10.402229249394816
857 GHz 0.6358765051793955 MJ/sr

In my code:

first the input is converted to `uK_RJ` (checked th

[2021-10-13 22:16] brandonshensley commented on #38
Using that temperature, I recover from WolframAlpha your mbb factor of 2.4865919382728716 to seven digits to the right of the decimal. Sticking to MJy/sr and a 353 GHz flux density of 0.06112886, I arrive at 0.651285 MJy/sr at 857 GHz, which is what you quote above. Not sure if that helps.

[2021-10-13 22:56] zonca commented on #38
Yes, I also swapped the units with the astropy contants but got same
result. I can check more carefully later.

On Wed, Oct 13, 2021, 15:53 brandonshensley ***@***.***>
wrote:

[2021-10-13 22:59] brandonshensley commented on #38
Mea culpa, I swapped nu and T in my B_nu function:

`B_nu(temp, nu)/B_nu(temp,nu_ref)`

instead of

`B_nu(nu, temp)/B_nu(nu_ref, temp)`

That should fix it.

[2021-10-20 02:07] zonca opened #90 "Store templates in Alm instead of maps?"
## Problem

PySM needs to store the templates at very different resolutions, we want people to be able to do maps at low nside without the need of downloading and processing very high resolution maps.

## Current implementation

Currently PySM 3 implements the same method of PySM 2.
Input templates are stored at a fixed N_side (512 for PySM 2 models), higher resolution models implemented in `so_py

[2021-10-20 16:25] zonca opened #91 "Provide a target_nside parameter to the smoothing function"
* We need to provide guidelines on how to properly use the code, for example if people want maps at N_side 512, they should run the models at N_side 1024 and transform to target N_side. As we are smoothing at the end, we can easily provide a `target_nside` parameter, so people can smooth a 1024 map and get a 512 output without transforming twice.

_Originally posted by @zonca in https://github.com

[2021-10-20 17:51] brandonshensley commented on #90
How would you feel about doing all of this for the user under the hood but having a Boolean keyword where it can be turned off (e.g., to save on computational resources)? I.e., if the requested Nside <= 1024 (or maybe 2048), the 1024 templates are still used but a map of the requested Nside is returned unless the appropriate Boolean argument is passed forcing use of lower Nside templates.

[2021-10-21 00:20] zonca commented on #91
I'm already doing map2alm and alm2map in:

https://github.com/galsci/pysm/blob/main/pysm3/models/template.py#L99-L152

so it is as easy as providing an extra parameter `target_nside` and use that for `alm2map`

[2021-10-21 00:26] zonca opened #92 "libsharp discontinued, alternatives for MPI smoothing?"
PySM relies on `libsharp` to smooth maps over MPI.

Libsharp is not maintained anymore: https://gitlab.mpcdf.mpg.de/mtr/libsharp

Is anyone using PySM over MPI? Should we simplify the code and remove MPI support? or find an alternative for `libsharp` (@mreineck suggestions?) ?

@NicolettaK @giuspugl @bthorne93

[2021-10-21 04:06] seclark commented on #90
I like `output_nside` and `model_nside`.

@delabrou I think the proposed scheme would allow someone to write a pretty easy wrapper that would "observe" the sky with instrument-specific specs as you propose, right? Maybe that use case can be an example in our documentation.

[2021-10-21 18:15] mreineck commented on #92
PS. Out of curiosity, if you go to map space for intermediate computations (not for the final data product), have you considered using grids other than Healpix, e.g. Gaus-Legendre? Depending on the operations you have to carry out, this could be advantageous, since the SHTs are potentially significantly faster and also exact.
If you require equal-area properties, this won't work of course.

[2021-10-21 20:05] mreineck commented on #92
If your band limit is lmax, the minimal corresponding Gauss-Legendre grid has (lmax+1) nodes in theta (non-equidistant) times (2*lmax+1) nodes in phi (equidistant). SHTs are exact in both direction as long as the band limit holds. This grid has the fastest SHTs you can get, roughly twice as fast as using a Healpix grid with nside=2*lmax. Basics are briefly mentioned in, e.g., https://hal-insu.arch

[2021-10-29 23:05] zonca commented on #92
thanks @mreineck, do you have an example of using:

https://mtr.pages.mpcdf.de/ducc/sht.html#ducc0.sht.experimental.synthesis

to transform a set of IQU Alms into a map in GL pixels and then use analysis to go back to Alms?

It's really hard to understand how to use it from the API reference.

[2021-10-30 07:00] mreineck commented on #92
The good thing about the GL grid is that it is "regular", i.e. it
- has the same number of pixels on every ring
- every ring starts at the same azimuth
This allows using the https://mtr.pages.mpcdf.de/ducc/sht.html#ducc0.sht.experimental.synthesis_2d function and friends, which has a much simper interface.

Its usage is demonstrated, e.g., in https://gitlab.mpcdf.mpg.de/mtr/ducc/-/blob/ducc0/pytho

[2021-10-30 07:15] mreineck commented on #92
Here it is. (Sorry, Github doesn't appear to let me attach it.)

[code]

[2021-11-03 00:30] zonca commented on #91
thanks to @mreineck providing an example of using `ducc0` and GL pixels, I made a comparison focused on PySM, I posted the notebook here where it is a bit easier to read (click on button to get the notebook and try it yourself):

https://zonca.dev/2021/11/healpix-gauss-legendre-pysm.html

[2021-11-03 08:24] mreineck commented on #91
Good to see that this works well!

Just one word of caution: since the rings of a GL grid are not equidistant in theta, the GL map plots in the notebook can only be a rough approximantion to the real map; doing this accurately requires using the exact coordinates of every ring (obtainable, e.g., via `ducc0.misc.GL_thetas()`) and telling them to `matplotlib`.

[2021-11-04 03:37] zonca commented on #92
discussion about libsharp is completed, discussion about Gauss-Legendre pixelization in #91

[2021-11-04 03:37] #92 closed

[2021-11-09 20:39] zonca opened #96 "Synchrotron spectral index corrected with SPASS"
@NicolettaK has an updated version of the [notebook](https://gist.github.com/NicolettaK/f801f299a7de116651758ea286eaed66) to generate synchrotron beta maps (apologies Nico if you've already posted this elsewhere!). A standalone implementation (i.e., with various parameters hard coded) begins in Cell 31. @giuspugl does this have everything you need to make an implementation that parallels yours for

[2021-11-09 20:42] zonca commented on #96
@NicolettaK are SPASS_beta_fwhm2_ns256.fits and cl_fit_spass.fits publicly available?

[2021-11-10 14:22] giuspugl commented on #96
I think we're ready to finalize synchrotron too.  However we have just a small tweak to agree on :

We do observe a similar behaviour in the power law fitted for syncrotron as shown in the power spectra of log pol tens quantities below, i.e. a flatter spectral index for EE and BB than in TT
![image](https://user-images.githubusercontent.com/8957029/141129644-675a777a-8f9f-44ef-8f61-481f1d8e822f.pn

[2021-11-10 14:26] brandonshensley commented on #96
Thanks @giuspugl, I agree completely with your suggestion of using the same spectrum as measured in TT.

[2021-11-11 01:34] zonca commented on #91
will try with a more anisotropic map, for example the GNILC dust maps after adding small scales (#97), which is one of our use cases. We want to verify if error in HEALPix goes higher in such maps.

[2021-12-01 23:02] brandonshensley opened #99 "Color Correction to 353 GHz Templates"
Based on the slides emailed on Oct. 19, @delabrou recommends we, "[m]ultiply dust template maps by 0.92 to get a template at 353 GHz rather than integrated in the Planck 353 GHz band." Note that a similar color correction factor appears in [Planck 2018 XI](https://www.aanda.org/articles/aa/pdf/2020/09/aa32618-18.pdf), Table 2 as 1/1.098 = 0.911. I suggest we use this value so that we can cite the

[2021-12-01 23:04] delabrou commented on #99
Yes, let's use the published value.
Jacques

[2021-12-21 15:51] NicolettaK opened #100 "poltens full sky power spectra"
Hi,
@yaojian95 has been working a bit on poltens dust maps produced by @giuspugl in https://github.com/galsci/pysm/pull/97, in order to estimate non-Gaussianity. He has computed power spectra for different fsky. In particular, power spectra on full sky look a bit weird, with bumps around \ell~100 (see below). Have you already discussed this point? I'm not sure whether this is critical or not, as s

[2021-12-21 23:22] zonca commented on #100
can you please share the code?

[2021-12-22 10:49] yaojian95 commented on #100
I just use Namaster with following masks to calculate the power spectra of the IQU maps transfromed from polten maps with small scales.  The Namaster code and the maps are exactly from this [notebook](https://gist.github.com/giuspugl/d36a0e529a3b4a89c19bce5b58c9494a#file-expansion_logpoltens-ipynb) .

![image](https://user-images.githubusercontent.com/14847517/147076808-868e594b-a600-49a7-9007-aca

[2022-01-03 19:28] zonca commented on #100
@yaojian95 I'd rather see the actual notebook you ran, in particular with all the intermediate outputs.

it would be useful to compare spectra to the original map and/or to the large-scales-only map.

[2022-01-04 22:48] yaojian95 commented on #100
What I ran is exactly Giuseppe's notebook. I copied it to my home on Nersc and ran it cell by cell.  What I plotted above are the power spectra of maps generated by **cell 45**, that are big IQU maps with small scales added in small iqu domain:
[code]
Here are the plots for the original maps, but with monopole subtracted (exactly **'m_planck_varres'** from **cell 21**)
![image](https://user-images

[2022-01-05 09:41] yaojian95 commented on #100
Here are the power spectra of large-scales-only maps, that are the original maps with small scales filtered in small iqu domain, then transformed back to IQU.  That is, I take the `log_ls` maps in **cell 43** then use `log_pol_tens_to_map(log_ls)` to get the IQU  maps without small scales.
![image](https://user-images.githubusercontent.com/14847517/148194356-f7760654-a42f-4f84-92e2-193550cb48c0.pn

[2022-01-06 05:40] zonca commented on #99
Added to the notebook that generates the templates.

[2022-01-06 06:22] zonca opened #101 "Validation of GNILC dust templates"
The implementation of the GNILC-based dust templates is complete, see details and the executed notebook at:

https://github.com/galsci/pysm/pull/97#issuecomment-1006313372

Now it would be useful to have some independent validation, load the maps, take spectra, compare known regions, check everything is reasonable (see also #100)

[2022-01-06 06:23] zonca commented on #101
## Files location

https://portal.nersc.gov/project/cmb/pysm-dev/gnilc/

or at NERSC in:

/global/project/projectdirs/cmb/www/pysm-dev/gnilc

[2022-01-06 06:23] zonca commented on #101
# Available files

## Output templates

    gnilc_dust_template_nside2048_float32.fits
    gnilc_dust_template_nside4096_float32.fits
    gnilc_dust_template_nside8192_float32.fits

## Input GNILC products

For temperature:

    COM_CompMap_Dust-GNILC-F353_2048_21p8acm.fits

For polarization:

    COM_CompMap_IQU-thermaldust-gnilc-varres_2048_R3.00.fits

## Masks

    BK15_region_Gal_apo.fits

[2022-01-06 06:29] zonca commented on #101
@brandonshensley @seclark @NicolettaK @yaojian95 @giuspugl @delabru

[2022-01-10 11:31] giuspugl commented on #100
Thank you @yaojian95 and @NicolettaK for checking this! This is something we were aware as for testing and for the implementation we didn't considered the full sky case  but always the GAL080 one. I would say that from the plot above ![plot above](https://user-images.githubusercontent.com/14818456/146958473-556dc129-fb03-45ee-b857-05bd60149454.png)
we can say that we achieve reasonable results wit

[2022-01-10 17:20] ziotom78 opened #102 "Passing CMB map files that live outside PYSM_LOCAL_DATA"
In the LiteBIRD Simulation Framework, we generate a set of CMB maps and pass them to PySM3, instead of using the maps produced by PySM3 itself (see the code [here](https://github.com/litebird/litebird_sim/blob/master/litebird_sim/mbs/mbs.py#L568-L591)).

Since we generate the CMB maps in our code, they are saved outside the directory where PySM3 keeps its templates. However, `pysm3.CMBMap` expects

[2022-01-10 17:41] yaojian95 commented on #100
@giuspugl What do you mean by "_neglecting any leakage effect due to the Galactic cut_" ?
These power spectra are calculated by Namaster with the apodized mask, but without setting the purification flag.

[2022-01-11 04:40] zonca commented on #102
thanks @ziotom78, it seems like a common use-case, it is probably useful to support it across pysm by changing the `RemoteData` class.

What if I check if a path is absolute with https://docs.python.org/3/library/pathlib.html#pathlib.PurePath.is_absolute and if so, I just return that disregarding local data?

This still wouldn't support the case where you want to provide a path *relative to the cu

[2022-01-11 05:54] ziotom78 commented on #102
This idea is probably the best, as it applies the principle of least surprise!

Regarding the possibility to use a path relative to the current folder, one can just convert a relative path to absolute before passing it to PySM.

[2022-01-11 09:40] NicolettaK commented on #102
Thanks @zonca and @ziotom78, the solution you propose sounds good to me.

[2022-01-13 01:15] zonca commented on #69
@giuspugl the notebook for spectral index and T dust is at https://github.com/galsci/pysm/blob/f3b79810d22805cf5b0904eb13f65df6c6b6dbed/docs/preprocess-templates/gnilc_dust_spectral_index_T_dust.ipynb
Do you have an executed version of that notebook for reference? (in a gist)
I checked in this Gist (https://gist.github.com/giuspugl/d36a0e529a3b4a89c19bce5b58c9494a) but the cells related to spectra

[2022-01-13 02:35] brandonshensley opened #103 "Simulation Suite"
As suggested by @zonca, I am starting an issue where we can discuss how the new models could be used as a baseline simulation suite, with the goal being to have models that span optimistic/baseline/pessimistic (or similar spirit). My initial suggestion is:

1. d9s4f1a1
2. d10s4f1a1
3. d12s3f1a2

where I have assumed s4 corresponds to the new synchrotron model with small scales in both amplitude an

[2022-01-13 17:24] giuspugl commented on #69
Sorry about that ! Here you can find an updated notebook
https://gist.github.com/giuspugl/d36a0e529a3b4a89c19bce5b58c9494a
i made sure it is compiled also for the spectral parameters too .

Yes! the modulation for Td and Beta_dust is the same as the  intensity one.

[2022-01-14 00:42] zonca commented on #69
What do you think about the reusing the same modulation map?

On Thu, Jan 13, 2022, 09:24 Giuseppe Puglisi ***@***.***>
wrote:

[2022-01-14 00:46] brandonshensley commented on #69
Reusing the modulation map seems fine to me as long as the fluctuations themselves are different. Physically it is sensible for the amplitude of fluctuations to be related to the total intensity.

[2022-01-16 00:29] seclark commented on #103
Thanks, this is a great starting point. Why s3 for #3 rather than s4? I think yes to CO lines: probably for all of them unless there's a good argument against that. If we were just going for a steady ramp in complexity we could consider incorporating polarized AME into model #2 but with a lower polarization fraction than a2. But in our current conception of #2 I think a1 is the right call.

[2022-01-16 16:07] brandonshensley commented on #103
s3 is more spectrally complex (curvature parameter) while s4 has fluctuations on smaller scales, including in beta. s4 is the natural pairing with d10, so I put s3 with d12. But we could also use s4 for both and change s4 to s0 in the "optimistic" model (which would make sense since d9 is an alternate version of d0). So:

1. d9s0f1a1 + CO
2. d10s4f1a1 + CO
3. d12s4f1a2 + CO

From a theory point of

[2022-01-17 07:22] giuspugl commented on #103
Thanks for starting this!
I agree with models @brandonshensley proposed for the next sim run.
About CO, we have several caveats to consider before including it:
- CO templates comes from Planck released maps. We smoothed them at 1 deg to avoid noise contamination especially at high galactic latitudes.
- we can simply treat it as an unpolarized component, in the pysm we have included an argument no

[2022-01-17 15:36] brandonshensley commented on #103
@giuspugl, maybe we can turn on polarization for #3 only?

[2022-01-17 16:51] zonca commented on #103
I think for synchrotron we could do `s4` for uniform spectral index, `s5` with varying spectral index, and we can have unpolarized co1 and polarized co2, so:

1. d9,s4,f1,a1,co1
1. d10,s5,f1,a1,co1
1. d12,s5,f1,a2,co2

[2022-01-17 17:10] brandonshensley commented on #103
Thanks @zonca. I might have used co3 for `#2` and `#3`--I realize the high latitude component is constrained by data only statistically, but it feels "realistic" to include.

How difficult would it be to have an s6 that is identical to s5 but also includes the curvature parameter from s3? Does anyone have a strong opinion about whether having a model with spectral curvature is important for next-r

[2022-01-18 08:46] giuspugl commented on #103
Yes !

the numbering proposed in #86  perfectly goes in the perspective of optimistic, realistic and pessimistic.

[2022-01-25 19:17] zonca commented on #101
## Spectral index and Dust temperature

At the same location above I have also copied the outputs of the GNILC beta and Td processing, see the notebooks in https://github.com/galsci/pysm/pull/104 for more details.

### Output maps

6 maps, 2 componets at 3 resolutions:

`gnilc_dust_[beta,Td]_nside[2048,4096,8192]_float32.fits`

### Intermediate products

[code]

For modulation I reuse the "tempera

[2022-01-25 19:39] zonca commented on #69
Implemented in https://github.com/galsci/pysm/pull/104

[2022-01-28 18:42] brandonshensley opened #105 "Synchrotron Curvature"
Opening a new issue to discuss the synchrotron curvature parameter, which may affect the design of the Simulation Suite (#103). We have gotten some feedback that synchrotron spectral complexity is a high priority concern.

The s3 model has curvature as a single global parameter. I propose considering a new synchrotron model that has the amplitude and beta improvements of s5 but that also includes

[2022-02-01 06:58] zonca commented on #102
ok, I've created a unit test that I was expected to fail, but it seems it is actually working already for a full path.
Can you please double-check in https://github.com/galsci/pysm/pull/107?

[2022-02-01 19:13] zonca commented on #83
ok, a first implementation of `d9` is ready, I was comparing it with `d0` and differences are substantial, we probably should address this in paper if not there already. @giuspugl @brandonshensley

![image](https://user-images.githubusercontent.com/383090/152035127-c29041ec-0ddf-40a3-a763-3808575cc594.png)

see notebook (needs branch of #108): https://gist.github.com/ec542934da2da38109d35ce288c0d3

[2022-02-01 19:34] brandonshensley commented on #83
I was expecting differences in I at the ~10% level from the color correction and maybe the 50% level at high latitudes where the CIB amplitude is comparable to the dust amplitude. The variations here are much larger, so we'll need to understand what's driving them. Q and U look better behaved?

[2022-02-02 17:17] zonca commented on #83
I wanted to give Colab a try...please let me know if it doesn't work.

so, this is a notebook which installs the right branch of pysm3 and runs on Google Compute Engine, so no setup required - runs in browser, it should be editable (or you can make a copy), so you can add more interesting plots and inspect the maps:

https://colab.research.google.com/drive/1YSsQaEOoAkd5f3Iodx88LOb_7zHMmvuw?usp=sha

[2022-02-03 13:00] giuspugl commented on #100
To address this issue we agreed on including the real observed data (without any small scale ) within the region inside the GAL097 HFI mask  see [this post](https://github.com/galsci/pysm/issues/100#issuecomment-999476446) .
The spectra I get are more nice looking with respect to the ones estimated by modulating small scales also at the Galactic plane .
![image](https://user-images.githubuserconte

[2022-02-08 10:41] giuspugl commented on #105
Hi all,
I started addressing  this issue in order to have a _data driven_ modelling  of the synchrotron curvature.
Below the steps i followed :
-  use the same   template we adopted to modulate synchrotron small scales, i.e.  HASLAM map  rescaled it at 23 GHz, transformed in log pol tens `i`  and smoothed at 5 deg (see https://github.com/galsci/pysm/pull/98)
- Normalize the  template with MinMax r

[2022-02-08 13:00] NicolettaK commented on #105
This is great @Giuseppe! Should we think about adding also Gaussian small scales with slope as the one we use for the beta_s?

[2022-02-08 14:09] brandonshensley commented on #105
Agreed, really nice analysis @giuspugl! I agree with @NicolettaK that we should add in the small scales using the slope of the beta_s power spectrum.

[2022-02-09 09:10] giuspugl commented on #105
Ok , i've included the small scales following the power law spectral index we fit for Bs with the SPASS data, i.e. `gamma = -2.86` .  I modulate small scales of  curvature parameter `Cs` with exactly the same modulation map we adopted for Bs .
Below you can find the power spectra
![image](https://user-images.githubusercontent.com/8957029/153162386-c45fa1ab-523a-4bde-88a5-e802e993ed30.png)

NB: The

[2022-02-09 15:51] brandonshensley commented on #105
This looks great @giuspugl!

[2022-02-09 19:13] zonca commented on #105
when you think this is complete, you can add a Jupyter Notebook with the final analysis in a gist and I can pick up from there

[2022-02-10 21:08] zonca commented on #103
for now we have (using `co3` for 2 and 3):

1. d9,s4,f1,a1,co1
1. d10,s5,f1,a1,co3
1. d12,s5,f1,a2,co3

next we plan to have a Synchrotron model with curvature for 3 and possibly 2, see #105

[2022-02-15 17:30] giuspugl opened #109 "Problem with Log Pol Tens formalism intensity transformation ?"
Recently, an issue has been raised  on the transformation of the intensity component within the Log Pol tens formalism . I address it here

![Screen Shot 2022-02-15 at 6 21 06 PM](https://user-images.githubusercontent.com/8957029/154115158-45c55223-0e63-4111-a801-5bb1de9d761d.png)
below the maps how they look like
![image](https://user-images.githubusercontent.com/8957029/154115714-1d69e053-3c9e-4

[2022-02-15 17:58] delabrou commented on #109
I agree with all of this, the only issue is if the generation of the small scales depends locally on the total i (or i').
Indeed, typically, when one injects small scales, those are weighted by the local total dust emission level, and an offset in the map changes this. Unless you weight the generation of small scales with some different weighting, or you do some re-scaling later on, there should b

[2022-02-16 10:06] giuspugl commented on #109
Below the plot as @delabrou prescribed , don't see any difference apart from the fact that maps have different units...

![image](https://user-images.githubusercontent.com/8957029/154241660-a820a8a7-6723-4771-b0bb-cf9e37e46465.png)

[2022-02-17 13:03] ziotom78 commented on #102
Hi @zonca , sorry for the delay. I and @NicolettaK have tested the use of `Path.absolute()` and can confirm that it works: if the path starts with `/`, the right file is loaded by PySM.

Thanks a lot!

[2022-02-27 03:40] zonca commented on #69
implemented in #108

[2022-02-27 03:40] #69 closed

[2022-02-27 03:45] #84 closed

[2022-02-27 03:45] #85 closed

[2022-02-27 05:05] zonca commented on #83
implemented in #108

[2022-03-01 21:52] zonca commented on #100
@giuspugl can you please share the notebook implementing this fix and generating those plots? I'd like to use it as reference for my implementation and then merge it into the docs.

[2022-03-02 11:36] giuspugl commented on #100
@zonca please you can find the notebook [here](https://gist.github.com/giuspugl/1518786f5302ee86e2b484c213eb05a4). thanks!

[2022-03-04 06:06] #100 closed

[2022-03-04 06:35] zonca opened #112 "PySM prerelease with GNILC models d9,d10,d11 and synchrotron models s4,s5,s6,s7"
I've published to PyPI PySM 3.4.0 beta 1, you can install it with:

    pip install --pre pysm3

(`--pre` grabs pre-releases)

Alternatively you can test in your browser using Google Colab (or use the notebook code locally):

https://colab.research.google.com/drive/1LI7zGC2Exd8R0HiYMl6b3Bnw-0bRp0Ws?usp=sharing

Please report any bugs here or open dedicated issue.
Feedback on the docs is particualr

[2022-03-04 06:43] zonca commented on #100
implementation of the galactic plane fix was not too bad.
For `d9` and `d10`, the correction is just added to the input templates in preprocessing.
For `d11`, I'm loading the GAL 070 mask and the IQU components of the logpoltens GNILC map, but I set the IQU map to 0 where it is not used, then gzip it so it's only 157 MB.

[2022-03-11 13:14] mousset opened #113 "Simulate CO line emission map"
Hi,
I am trying to simulate the CO emission line at 230.5 GHz, in µK_CMB. Here is the code I use:

$ sky = pysm3.Sky(nside=128, preset_strings=["co1"], output_unit=u.uK_CMB)
$ co_emission = sky.get_emission(freq=[230.4, 230.6]*u.GHz)

I think I am not doing the right thing because the intensity map I get is very small compared to the dust map I made using the d1 model. Could you please tell me how

[2022-03-11 15:12] zonca commented on #113
Which version of PySM are you using?

[2022-03-11 15:15] mousset commented on #113
I am using version 3.4.0b1.

[2022-03-12 03:50] zonca commented on #113
thanks @mousset,
I confirm there was a bug I introduced recently in unit conversion in CO (and messed up the tests as well so they agreed!)

It should be fixed in https://github.com/galsci/pysm/pull/114

[2022-03-12 04:08] zonca commented on #113
@mousset merged into main, could you please confirm if it is fixed?

[2022-03-12 13:54] mousset commented on #113
Yes I confirm, it works perfectly now. Thanks!

[2022-03-12 15:00] #113 closed

[2022-03-12 15:20] zonca commented on #112
there is currently a bug in CO #113 , it is fixed in the `main` branch #114 , as soon as I have a first  version of synchrotron in a few days I'll make another beta release with this fix.

[2022-03-16 04:55] zonca commented on #96
implemented in #106

[2022-03-16 04:55] #96 closed

[2022-03-16 05:27] zonca commented on #112
I just released `3.4.0b2`, this release has:

* fixed the bug I recently introduced into the CO lines model, see #114, thanks @mousset for reporting it
* implementation of the Synchrotron models, see docs in https://pysm3.readthedocs.io/en/latest/models.html#synchrotron

You can install it with:

    pip install --pre pysm3 --upgrade

Or checkout the Colab link above.

[2022-03-16 05:32] zonca commented on #112
New PySM 3 models included:

* s4, s5, s6 Synchrotron
* co1, co2, co3 CO lines
* d9, d10, d11 GNILC Dust
* d12 MKD 3D Dust

[2022-03-17 18:18] brandonshensley commented on #84
Hi @cfenguiuc, it is now! See [this issue](https://github.com/galsci/pysm/issues/112).

[2022-03-17 19:03] bthorne93 commented on #101
A while ago I was calculating power spectra of the new log pol tens templates. I found that the power spectra of smaller patches of sky exhibits more of a break at the transition scale around ell of 100 on smaller patches of sky. For example,  the bottom panel of this plot:

![Screen Shot 2022-03-17 at 11 52 59 AM](https://user-images.githubusercontent.com/16899444/158875299-a0f055fa-473e-4355-a1f

[2022-03-18 06:26] cfenguiuc commented on #84
That is awesome!!

Sincerely,

Prof. Chang Feng
Department of Astronomy
University of Science and Technology of China

On Fri, Mar 18, 2022 at 2:18 AM brandonshensley ***@***.***>
wrote:

[2022-03-18 10:17] giuspugl commented on #101
Thanks a lot @bthorne93  for this follow up! it is great to see this validation with the latest updated models!

1. Firstly a  comment on what has changed between the two versions of plots is that in the former one we had injected small scales using the  fitted  power law  indices  from TT, EE and BB spectra (respectively about  -1.2,    -0.3,-0.4 ). In the latter,  the small scales are included a

[2022-03-22 17:03] bthorne93 commented on #101
@giuspugl

1. I am not sure how fixing the power law index to the TT value, which is steeper than the other two values you showed, would bump up the EE/BB spectra at multipoles higher than the pivot scale (which I think is ~100, right?). I would have thought that change would actually make the simulated power lower at scales above the pivot scale.
3. Since we are fixing the slope of the power spec

[2022-03-22 20:48] zonca commented on #105
![](https://github.trello.services/images/mini-trello-icon.png) [Synchrotron curvature PySM 3](https://trello.com/c/UTE1Yewe/321-synchrotron-curvature-pysm-3)

[2022-03-22 21:27] zonca commented on #105
thanks @giuspugl, I can reproduce the notebook.

Now, my plan would be:

* execute the notebook at 8192 and create the usual maps at 2048, 4096 and 8192 for `C_s` with small scales
* create the `s7` model, similar to `s3` (https://github.com/galsci/pysm/blob/main/pysm3/data/presets.cfg#L216-L228), but with the new IQU templates and beta_s from `s5` and this `C_s` map.
* I would wait for someone to

[2022-03-28 22:58] #105 closed

[2022-03-28 23:04] zonca commented on #112
Release `3.4.0b3` which also includes `s7`, synchrotron model with curvature.
I haven't implemented a stochastic model for synchrotron with curvature, please let me know if anyone is interested in that.

[2022-03-28 23:11] zonca commented on #103
@brandonshensley @seclark should we use the new `s7` model (https://pysm3.readthedocs.io/en/latest/models.html#synchrotron) with curvature for the most complicated sky model?

[2022-03-28 23:12] brandonshensley commented on #103
Yes, let's do that.

[2022-03-28 23:15] zonca commented on #103
Switched to `s7` for the more complex sky model:

1. d9,s4,f1,a1,co1
1. d10,s5,f1,a1,co3
1. d12,s7,f1,a2,co3

[2022-03-30 03:30] seclark commented on #103
Yes agree! Looks good.

[2022-05-05 20:56] zonca commented on #112
@brandonshensley @seclark @giuspugl @bthorne93 I prepared a fireslide for the CMB-S4 spring meeting with quick tour of the new models, please provide feedback: https://docs.google.com/presentation/d/1_JkiKpVvbCL4lMUPWonDszq4mR8S6XWnTmN6JHdh-v4/edit?usp=sharing

[2022-05-05 21:15] brandonshensley commented on #112
This looks great to me! Might be useful to give a reference (hyperlink/arXiv number/journal citation) for the MKD model. Susan and I have a talk on Friday where we can explain in a little more detail.

[2022-05-19 21:07] brandonshensley opened #117 "BB Spectra Comparison: d1, d10, d12"
I have put together a [quick notebook](https://gist.github.com/brandonshensley/cc5f387dc4bd8197a1211cd6cac6a214) comparing the BB spectra of the d1, d10, and d12 models on the SO SAT mask at both 353 and 150 GHz. Comments welcome, but here are a few quick takeaways from me:

- There is reasonably good agreement between d1 and d10 on this mask out to ell of ~100. d12 seems to have systematically le

[2022-05-25 23:48] zonca opened #118 "Investigate high ell in output GNILC-based dust maps"
However, we still want to better understand the impact of the logpoltens transform on the map, it is useful to have a caveat about this in the paper and in the documentation. It is possible that the logpoltens anti-transform makes the map not band limited, so there is residual power at high ell that could impact analysis. Will open a separate issue to track this.

_Originally posted by @zonca in h

[2022-06-06 00:36] zonca commented on #118
Using presmooth functionality in #119, trying to understand if the GNILC output maps show worse behavior due to the non-linear logpoltens transform making the map not band-limited.

In this notebook I compare dust maps at 353 GHz that have been either presmoothed (i.e. small scales have been generated already smoothed) and postsmoothed (i.e. as usual, run modelling with a lot of power at high ell

[2022-06-21 18:09] zonca commented on #99
I just added this to the docs.

@giuspugl @brandonshensley @delabrou there is no equivalent color correction for synchrotron, right?

[2022-06-21 18:23] brandonshensley commented on #99
I'm not aware of anything that discusses this. In principle there should be the same issue, but it may be that the corrections are small for a standard synchrotron spectrum. For dust, it's really only 353 GHz that has a significant color correction factor. Maybe @delabrou or @NicolettaK has more info?

[2022-06-21 18:45] zonca opened #120 "Porting WebSky extragalactic models to PySM 3"
Currently the WebSky models are included in the `so_pysm_models` package:

https://so-pysm-models.readthedocs.io/en/latest/models.html#websky

The package is already based on PySM 3, so it should not be too difficult to move the functionality in PySM 3 proper.

However, it would be useful to first check if there is any update in WebSky itself, like maps from new simulations, or maps at resolution

[2022-06-21 18:46] zonca commented on #120
![](https://github.trello.services/images/mini-trello-icon.png) [Websky to PySM 3](https://trello.com/c/rfygWOuQ/330-websky-to-pysm-3)

[2022-06-21 18:54] marcelo-alvarez commented on #120
@zonca yes there should be an update coming soon, which @xzackli is coordinating / running. There should be the addition of radio sources, update of tSZ and CIB, and likely N_side of 8192.

[2022-06-24 17:30] delabrou commented on #99
A color correction factor should be applied also for synchrotron if the reference is obtained from a non-monochromatic band. However, at this point the synchrotron model is less constrained that that of the dust: in intensity there is considerable uncertainty because the WMAP and LFI observations are a mix of synchrotron, free-free and spinning dust. In polarization the observations are noisy, in

[2022-06-29 05:42] MonicaHicks opened #121 "Failing test_dust_pysm3 test test_d10_vs_d11"
I am failing test_d10_vs_d11 when passing the parameters for `seeds` and `synalm_lmax` in test_dust_pysm3.py; however, when I followed the instructions to modify data/presets.cfg and I commented out the parameters `seeds` and `synalm_lmax` in the call to ModifiedBlackBodyRealization, the test passed the first time, and then began failing sporadically..

I am on a MacBook Pro with python 3.9.1 and

[2022-06-29 05:45] zonca commented on #121
I assume you are using the `main` branch in its current state.

do the test pass on your machine with no modification of the code?

[2022-06-29 05:58] MonicaHicks commented on #121
I'm currently running the tests with the values for `seeds` and `synalm_lmax` commented out in the test_dust_pysm3.py file and I have`seeds` and `synalm_lmax` uncommented in the data/presets.cfg. Other than that, I have not modified the code.

Before I made any changes to the code, the tests were not all passing. Each modification I made, I would revert before trying something different. I followe

[2022-06-29 06:05] zonca commented on #121
ok, let's focus for now exclusively on running without any modification of the code.
can you paste all the errors you get?

[2022-06-29 06:24] MonicaHicks commented on #121
monicahicks@DNa80dc9e pysm % pytest
========================================================================================== test session starts ===========================================================================================
platform darwin -- Python 3.9.1, pytest-7.1.2, pluggy-1.0.0
rootdir: /Users/monicahicks/pysm, configfile: pyproject.toml
collected 86 items / 2 skipped

pysm3/te

[2022-06-29 15:46] zonca commented on #121
@bthorne93

[2022-07-02 13:12] zonca commented on #121
I activated testing on Mac OS in Github Actions, see  #122, tests are passing there: https://github.com/galsci/pysm/runs/7158561564?check_suite_focus=true

@MonicaHicks does your machine have the M2 CPU?

[2022-07-02 14:30] MonicaHicks commented on #121
I have Intel i9. I can replicate the above results on my other MacBook, but I believe the test you ran skipped `test_d10_vs_d11()`. On my other Mac, when it says `....s` after test_dust_pysm3.py, it is because I have less than 20GB of RAM. It also looks like it skipped `test_s6_vs_s5()` in the test_synch_pysm3 tests, so I think it is an issue with available memory.

What I was planning to try next

[2022-07-02 16:07] zonca commented on #121
You're right. I forgot I implemented that.
I think I specifically implemented it because it required too much memory to run on GitHub Actions. I needed higher resolution to make a meaningful test.

[2022-07-03 21:18] zonca commented on #121
Just double-checked that running it on Linux (on Jupyter@NERSC) worked fine, I was worried I could have introduced a bug without noticing affecting also Linux:

[code]

[2022-07-03 21:25] MonicaHicks commented on #121
Okay, great. I'm confident I can get Linux running on my Mac.

[2022-07-05 16:05] myra-norton opened #123 "Decorrelation in the new dust models"
I'm working with @brandonshensley to quantify decorrelation in the new models. Here is a first notebook + plot: https://gist.github.com/myra-norton/8edcde151758a5898b0653aadc037d84

[2022-07-06 03:03] giuspugl commented on #123
Thanks a lot @myra-norton this is really great!
It's not immediate to get a sense of why we do see a decrease in the decorrelation at ell>100 ? Do we expect small scales injected w/ poltens to behave a freq. decorrelation ?
Also are those results consistent w/ planck latest constraints ?

[2022-08-09 10:14] zonca commented on #99
@delabrou @NicolettaK @brandonshensley I think we need to clarify the issue of calibration of the Synchrotron templates in the next couple of weeks, before proceeding to running large simulations for Simons Observatory. Anyone has suggestions?

[2022-08-17 21:35] zonca commented on #120
@xzackli do you have an estimate of when the new websky will be available?

[2022-08-22 15:28] xzackli commented on #120
@zonca We have new maps, and I"d like to set a target of Wednesday, August 24. Most of it is on disk at NERSC -- I briefly looked into writing up a pysm PR, do you have suggestions?

[2022-08-22 20:50] zonca commented on #120
@xzackli we should mostly just port from `so_pysm_models`, adapting the code for  the new maps:

https://github.com/simonsobs/so_pysm_models/blob/master/so_pysm_models/extragalactic.py

also the maps should be in the pysm repository at NERSC:

    /global/project/projectdirs/cmb/www/pysm-data

[2022-08-24 17:33] xzackli commented on #120
Seems sensible, looking at this now.

[2022-08-24 18:22] xzackli commented on #120
@zonca a quick clarifying question: of course I don't have write permission to `/global/project/projectdirs/cmb/www/pysm-data`, should I just direct you to a location in scratch for you to copy over?

[2022-08-24 18:32] zonca commented on #120
yes, right

[2022-09-12 20:38] zonca commented on #120
@xzackli any update on this?

[2022-09-13 01:26] brandonshensley opened #126 "Validating the GNILC template: Redux"
In the course of using the d9 and d10 models, it has been noted that these models have more B-mode power at ell~80 in the Southern Hole than is measured by BICEP. I've put together a [notebook](https://gist.github.com/brandonshensley/9807ecf9b744404110c3b38f1d5140a3) with @delabrou investigating this issue, and my main takeaways are:

1. The difference comes from the Planck dust polarization templ

[2022-09-13 03:09] zonca commented on #126
thanks @brandonshensley @delabrou, it looks pretty bad.
Is it just in the BICEP patch or is it an overall scale factor?

Skimming through the [MKD paper](https://arxiv.org/pdf/1706.04162.pdf), is seem like they also use GNILC, but with a custom postprocessing, @delabrou is it true?

[2022-09-13 03:20] seclark commented on #126
Hrm. Do these have the same color correction?

[2022-09-13 16:03] bthorne93 commented on #126
I made this plot a while ago for the paper draft, and it found the same discrepancy between the `d9` model and the BK level:

<img width="488" alt="Screen Shot 2022-09-13 at 8 54 41 AM" src="https://user-images.githubusercontent.com/16899444/189949520-862263f9-69a2-4d41-bfc2-f2e968dd11d5.png">

At the time, I think we agreed that this was most likely due to residual noise in the template, and so n

[2022-09-13 17:15] brandonshensley commented on #126
Thanks @bthorne93! Would it be feasible to do a map-space comparison? I'm not sure the relevant BICEP maps are public, but happy to take that on if I could be pointed to them. Other ideas for testing the noise hypothesis welcome.

[2022-09-13 18:10] seclark commented on #126
What do we expect to be the noise level at these multipoles? We should be able to answer whether the additional power is consistent with an unlucky upward fluctuation in the BK patch.

[2022-09-13 18:14] brandonshensley commented on #126
Computing a BB spectrum from 353 GHz splits is also on the agenda.

[2022-09-13 19:15] brandonshensley commented on #126
I've updated the [notebook](https://gist.github.com/brandonshensley/9807ecf9b744404110c3b38f1d5140a3) with a BB spectrum based on half mission splits (scroll all the way down, sorry it's getting a bit ungainly). Agreement with the GNILC templates is very good, so I am now more confused.

[2022-09-14 16:10] brandonshensley commented on #126
Update based on subsequent tests:

1. MKD (d12) and d9/d10/d11 certainly disagree on the dust BB power in the diffuse Southern sky (the "Southern Hole"). The raw GNILC QU template, the PR3 half mission splits, and the 353 GHz NPIPE splits all yield spectra in better agreement with d9/d10/d11. I do not understand the source of the discrepancy, but there seems to me no reason to mistrust the d9/d10/

[2022-09-15 01:41] delabrou commented on #126
Hi everyone. I checked my code and the generation of small scales is set to match the spectrum contraints from Planck, rather than being fixed according to the large scale template. This might explain why it differs from the other models.

[2022-09-15 01:45] delabrou commented on #126
Hi Ben, all,

The MKD model generates small scales at a level that matches the Planck Cl constraints from Planck 2018 results. XI.
My understanding is that the other models extrapolate the Cls computed on the GNILC template.
This might be the origin of the discrepancy.

It is interesting that the Planck spectra match better with the BICEP measurements on the BICEP patch. Good sign!

Best,
Jacques

[2022-09-15 14:52] brandonshensley commented on #126
Thanks @delabrou! At what ell does the MKD model transition from being template-dominated to being dominated by the added fluctuations? It is 110 for d9/d10, and I confirm that our BB amplitude agrees well with the GNILC template at ell ~ 80, so discrepancies are not due to how small scales are added in the d9/d10 models. There is also the issue of PR2 vs PR3 polarization data, but I haven't yet h

[2022-09-16 16:14] delabrou commented on #126
There is no sharp transition. I generate a random map with EE and BB spectra matching the Planck ell dependence. Specifically I use a spectral index of -2.41 for the E modes and -2.52 for the B modes. Then I merge the observed a_lm with the random a_lm with a smooth transition: I co-add the original map filtered by some beam bl and the small scales map filtered by SQRT(1-bl^2) so the weights add-u

[2022-09-16 16:45] brandonshensley commented on #126
Thanks so much Jacques! This makes sense and consistent with the differences we are seeing among the models. It will be useful to include a summary of these points in the new model paper.

I want to emphasize this important point! One of the reasons it is so critical to make multiple models available.

Agreed, and consistent with the fact that those models seem to reproduce Planck dust BB on large

[2022-09-19 21:16] jdborrill commented on #126
While it is obviously true that fixing the B/K patch (if it is indeed broken) won't guarantee the accuracy of the rest of the sky, it is a very special patch. Experiments drilling deep on it don't get to compensate for discrepancies between a model and reality by averaging over a large enough sky area.

[2022-09-20 16:39] giuspugl commented on #120
we have released  IQU maps of Radio sources painted onto Websky halos, [here](https://portal.nersc.gov/project/sobs/users/Radio_WebSky/matched_maps/)
I would say that we can employ the approach we have previously used for CIB, i.e. interpolating maps at different frequencies , see https://so-pysm-models.readthedocs.io/en/latest/models.html#websky.
Actually, we can allow a finer interpolation as th

[2022-09-20 16:47] zonca commented on #120
sure @giuspugl, https://pysm3.readthedocs.io/en/latest/api/pysm3.InterpolatingComponent.html#pysm3.InterpolatingComponent is already in PySM 3.

Does this work use the new Websky release? Do newer CIB maps are available yet?

[2022-09-20 18:13] xzackli commented on #120
We have CIB frequency maps at
[code]
and radio maps in the directory Giuseppe listed. I'm still porting over the old pysm code to PySM3 by inheriting from the InterpolatingComponent, but I was worried about validating these CIB maps.

[2022-09-20 19:05] zonca commented on #120
thanks @xzackli, the so-pysm-models code was already based on the PySM3 interpolating component, so changes should be minor.

[2022-09-21 08:16] giuspugl commented on #120
@xzackli  What are the differences of the _ new CIB maps_ you're validating,wrt the ones employed   [here](https://so-pysm-models.readthedocs.io/en/latest/models.html#websky), which i believe come from WEbsky Stein et al.2020 ?

@zonca  ain't sure what you mean here by `new release`, yes they used the _relatively_ recent Websky halo distribution from Stein et al.2020  .
To my knowledge there is ju

[2022-09-21 13:55] giuspugl commented on #120
Thanks @xzackli  ! I checked the redshift evolution by including the new normalization and it left kinda the same the redshift evolution, It's the Shang et al. 2012 prescription that is mostly affecting that..

[2022-09-21 23:06] zonca commented on #120
ok, thanks @xzackli so I'll wait for a pull request, I can then also copy all the input data to the `pysm-data` folder at NERSC.

[2022-09-23 01:41] brandonshensley commented on #101
@giuspugl The issue of alpha_BB is being raised, so I think it may be worth digging back into @bthorne93's question 1 above.

[2022-09-23 01:43] #103 closed

[2022-09-23 05:07] zonca commented on #103
@brandonshensley this would make a good post for the Panexp blog!

[2022-09-23 07:50] giuspugl commented on #101
@bthorne93 , sorry I totally lost track of this comment! I totally agree that choosing a steeper spectr. index would lower the power than a flat one. (i think there was a typo in my previous comment).
 A solution we can discuss is to set 2 pivot scales (`ell_p1 ~100` and `ell_p2 ~600` )  :

- if `ell<ell_p1` : we  use GNILC  templates,
- if `ell_p1<ell <ell_p2` use flat  spectral index consistent

[2022-09-23 15:09] seclark commented on #101
I like this approach. The steeper spectral index should be chosen to anticipate high nside. Maybe we select the index to ensure that EE, BB < TT out to 8192 at least.

[2022-09-27 05:48] zonca opened #127 "Looking for help in maintaining PySM 3 for Mac OS via Github Actions"
I had unit testing working on Github Actions for Mac OS.
However, after I added the requirement on `pixell`, `numba` stopped working.
I tried playing with `NUMBA_DISABLE_JIT`, I got most tests working when connected via SSH to the Github Action runner, see https://zonca.dev/2022/05/ssh-github-action.html
However, I couldn't transfer that to the workflow yaml.

If someone would like to help, please

[2022-10-05 23:43] zonca commented on #121
Unfortunately I had to disable the Github Actions tests on Mac OS due to some issues with `numba` after having added the dependency on `pixell` in https://github.com/galsci/pysm/pull/125.

Anyway let's keep this open for reference, if someone with a MAC OS with lots of ram would like to investigate, please do and provide feedback.

[2022-10-06 18:15] zonca commented on #91
@seclark @brandonshensley I have added a section in the docs about dealing with Nside, see the commit reference above here.

[2022-10-06 20:08] #91 closed

[2022-10-11 09:30] delabrou commented on #126
There is no sharp transition. I generate a random map with the proper EE and BB and TT and EE spectrum, and then co-add the original map filtered by some beam bl and the small scales map filtered by SQRT(1-bl^2) so the weights add-up to 1 when we compute the total spectrum.
The bl depend on which field is being considered (T, E or B) and on which layer is being considered (from 1 to 6). I use 5 ar

[2022-10-12 14:46] giuspugl commented on #101
In this [notebook](https://gist.github.com/giuspugl/4a6eb0d600df97c1bb5c44451f0c542e) you'll find an attempt to implement what i proposed above:

Even in this case, our benchmark is to match small and large scales for the mask `GAL080`, however this

/!\ This new implementation employs several new features wrt the previous `d9, d10`  models:
- two pivot scales `ell_p1,ell_p2`  for small scale inje

[2022-10-18 14:49] brandonshensley commented on #101
Thanks @giuspugl, this is great! One question though: why does the new T map look like it retains less information from the input map relative to the old T map?

[2022-10-18 15:39] giuspugl commented on #101
My understanding is that small scale content  in P map is larger especially at high multipoles (because it 's less modulated and because E and B mode spectral indices are flatter) therefore you get a loss of info also in the old T map.

[2022-10-18 18:01] zonca commented on #101
@brandonshensley can someone do a further validation with @giuspugl's  maps at `/global/cscratch1/sd/giuspugl/cmbs4/pysm_validation/` before I implement this into PySM?

[2022-10-18 18:05] brandonshensley commented on #101
Yes, let's please hold off for now in implementation in PySM. Thanks!

[2022-10-18 22:01] seclark commented on #101
Agree on holding off for now. Are there validation measurements needed that don't yet have someone assigned?

[2022-10-26 04:45] erussier opened #128 "Discrepancy between d12 and color corrected HFI353"
Hello, I plotted the PySM d12 dust power spectra  and compared to the HFI353GHz. There seems to be an offset at large scales that we do not find when comparing the MKD map (without color correction) from here (https://apc.u-paris.fr/Downloads/Planck/PSM-Data/MKD-MODEL-PySM-2048/skyinbands/HFI/detector_F353/) and the HFI353GHz without color correction.
This is what I get for Emodes and Bmodes.
![do

[2022-10-26 22:25] zonca commented on #128
thanks @erussier, can you please repeat the test at Nside 2048 and update the notebook?

[2022-10-26 22:27] zonca commented on #128
also to test the implementation I am comparing with this reference notebook with a simple analysis ran at Nside 8:
https://gist.github.com/brandonshensley/1dda561b245cda6497eb1b5ce2b7c267

can you check there if you find any errors?

[2022-10-27 20:00] zonca commented on #103
see https://galsci.github.io/blog/2022/common-fiducial-sky/

[2022-10-29 00:41] 1cosmologist opened #130 "Discrepancy between synchrotron models s4, s5 and s7 and Planck LFI 30 GHz data"
This is an effort to validate the PySM3 synchrotron models by comparing with Planck LFI 30 GHz (NPIPE Full, A and B splits) and WMAP 23 GHz (9year) maps. For this I generate synchrotron maps for models s4, s5, and s7 at 30 GHz at NSIDE=512. A color correction factor of 0.969 is multiplied to the LFI 30GHz, and a factor of 0.427 is multiplied to the WMAP K band. I also use an inverse noise variance

[2022-10-29 18:58] brandonshensley commented on #130
Thanks @1cosmologist, a lot to dig into here!

First question: where does the factor of 0.969 come from? I.e., can you point me to a paper?

Second question: overall, the agreement looks pretty good to me. Are you most concerned with the BB spectra in the northern sky? Have you done any map-based comparisons?

[2022-10-29 19:08] seclark commented on #130
It would also be helpful to see the masks used for each of these. And a caution for our interpretation that ~1/2 the points in these plots are below the beam scale.

[2022-10-29 19:09] seclark commented on #130
And let me also add my thanks and I'm eager to dig into this together at Monday's hack session!

[2022-10-29 19:36] 1cosmologist commented on #130
Hey @brandonshensley, the color correction factor is from the Planck 2013 V: LFI calibration (https://arxiv.org/abs/1505.08022), table 1. Note this bit different from the factor Jacques calculated using the LFI 30 GHz bandpass. We are sticking to the LFI team's value for average color correction factor here.

I have indeed done map based comparisons. The figure below is the relative difference of

[2022-10-29 19:41] 1cosmologist commented on #130
Hi @seclark, here are the masks:
![lfi30_34pc_northskymask](https://user-images.githubusercontent.com/11816582/198849782-d87690f2-20c3-4a54-a145-936e7d842f31.png)
![lfi30_39pc_southskymask](https://user-images.githubusercontent.com/11816582/198849799-04d47434-622f-4cb0-846a-2a1bb609b4b7.png)

I agree that the beam is perhaps too large. It might be helpful to a power spectrum comparison at native r

[2022-10-29 19:44] 1cosmologist commented on #130
How long is the hack session planned for? It is a bit early for me, but I will try to join in 30 min or an hour later.

[2022-10-29 19:51] seclark commented on #130
It's scheduled for an hour, 7-8am PT. I will have to jump at 8 but discussions could certainly continue longer if people are keen. If you're able to have some overlap in that timeframe that would be great, but I understand it's early!

[2022-10-29 19:59] 1cosmologist commented on #130
CORRECTION: https://arxiv.org/abs/1303.5066

[2022-10-31 14:33] zonca commented on #128
@erussier can you please adapt the notebook to run at NSIDE 2048 instead of 512?
In the notebook, when you write outputs, can you write to a local folder (`"./output") so the notebook can be executed by other people more easily?
Don't worry about the other thing I suggested.

[2022-10-31 16:13] erussier commented on #128
Hi @zonca, I ran the notebook at NSIDE = 2048 except for the MKD model since the native NSIDE of the MKD map I have is 512. So, if you want to run at NSIDE = 2048, please change nside in the section "Plot map of the MKD model" to 2048 and the path to the MKD map. I readapted the jupyter notebook as you said for the outputs: <script src="https://gist.github.com/erussier/89b656bba5c65331b5764d39754b

[2022-10-31 16:19] erussier commented on #128
Hi @zonca, I ran the notebook at NSIDE 2048 except for the MKD map since the native NSIDE of the MKD map I have is 512. So if you want to run this notebook at NSIDE 2048, please change the NSIDE in the section "Plot map of Planck MKD model" and the path to the MKD map. Here it is: https://gist.github.com/erussier/89b656bba5c65331b5764d39754b7d38

[2022-10-31 16:46] zonca commented on #128
the MKD is the most important map to have at 2048, @delabrou ran the MKD model at Nside 2048, those are the maps that I am using as inputs to PySM.
I think the easiest for comparison would be to have MKD at Nside 2048 at 353GHz include all layers computed using those Nside 2048 templates and compare it directly to the output of PySM 3, the maps should be identical.

[2022-10-31 21:29] brandonshensley commented on #126
Update: I reran my analysis on the BICEP patch specifically, notebook [here](https://gist.github.com/brandonshensley/bf43de790b677f797920470d710f9539). I used \Delta\ell = 20 to avoid large wiggles at low \ell. My takeaways are:

1. As expected, the PySM models agree very well with the GNILC template at low \ell, modulo the color correction.
2. There is some discrepancy between the GNILC template

[2022-11-03 18:36] marcelo-alvarez opened #131 "SPT-scaled version of cib for websky-0.4"
websky-0.4 cib power is higher at ell=3000 than predicted by the model constrained by SPT (which is lower than that constrained by Planck at 217 GHz), so we need to add an option for scaling websky-0.4 CIB to match the SPT ell=3000 power.

[2022-11-03 18:43] zonca commented on #131
the easiest implementation, if it is sufficient, is a table of correction factors to be applied to each Websky CIB map.
The frequencies is listed at https://github.com/galsci/pysm/pull/129/files#diff-5df48318d41e2d6bb56076c2ac45a0322e1a3841397efb008b61da46ca0a5473R47-R93
If you provide the table of correction factors, I can take care of implementing them in `WebSkyCIB`.

[2022-11-03 18:43] sriniraghunathan commented on #131
![plot_2_cib_power_websky_vs_spt_masked6p4mjyat150ghz](https://user-images.githubusercontent.com/3856456/199807602-5068b408-d7a3-4278-a1c4-6db45d3f9688.png)

[2022-11-03 18:45] sriniraghunathan commented on #131
scaling factors are: 1.83, 1.75, 1.59, 1.46 for 93, 145, 225, 278 GHz. But I need to redo this for the above bands that Andrea posted. Like I mentioned in the email, using SPT-based scaling for highest frequencies, like  ~857 GHz or above, is going to be tricky.

[2022-11-04 00:45] marcelo-alvarez commented on #131
Thanks for providing the scalings. I think we just need to agree on a sensible extrapolation and interpolation to other frequencies.

How about $1+(2.12-1)\ [ 1\ /\ (1+\exp[(\nu-235)/135])]$ ?

![model](https://user-images.githubusercontent.com/32470484/199861307-ec96f74f-2f1d-4610-b0d0-f70594ac123b.png)

[2022-11-04 04:27] zonca commented on #131
I think it would be useful to have at least 1 point at low frequency to make sure the extrapolation is reasonable, maybe 30 GHz?
Anyway @sriniraghunathan please let us know what you think about @marcelo-alvarez 's curve, if it seems fine, I can proceed to implement it.

[2022-11-04 05:08] sriniraghunathan commented on #131
![cib_power_websky0p4_pysm](https://user-images.githubusercontent.com/3856456/199893426-2f3d5d08-b168-4f0b-b3eb-40d10fd88c10.png)

[2022-11-04 05:11] sriniraghunathan commented on #131
So I picked all CIB maps from `cori:/global/cscratch1/sd/xzackli/for_nersc_www/cib/ ` and convert them from MJy/Sr to uK_CMB using the below conversion. The maps do not exactly match what I got yesterday with that interpolation that Andrea mentioned. As a result the scaling factors are now slightly lower.

[code]

[2022-11-04 05:16] marcelo-alvarez commented on #131
What are the factors?

We should get something into a branch so we can finally do the actual test where we run PySM for whatever frequencies you used, have it produce the CIB with the scaling, mask it appropriately, and get the correct power spectrum. If it doesn't work then we can iterate to see what didn't work.

[2022-11-04 05:19] sriniraghunathan commented on #131
bands = [  30.0, 47.4, 70.0, 143, 189, 217, 275, 306, 525, 545, 584, 643, 729, 817, 857, 906, 994, 1080]
scaling = [1.64652581, 1.71635281, 1.74148928, 1.64030465, 1.5274546, 1.45415951, 1.30351212,  1.22688181,  0.81361881, 0.78696348,  0.73953811,  0.67810142, 0.60727171,  0.55287663,  0.5329301,   0.51182782,  0.48148208,  0.4591423 ]

these are the factors. Not sure why they are slightly lower

[2022-11-04 05:29] sriniraghunathan commented on #131
and @zonca please note that these scaling are for power. For maps, you must take square roots.

[2022-11-04 05:34] marcelo-alvarez commented on #131
You provided the above factors before and now have revised values. I can update the fit I did above based on the new values. The benefit of the form I developed is that it goes through your points and approaches unity at high frequency where websky is already in broad agreement with Planck and Herschel measurements.

Please post the corrected scalings at 93, 145, 225, 278 so I can redo  the fit an

[2022-11-04 05:44] marcelo-alvarez commented on #131
Sorry, I think our comments are crossing paths. I think it would be ideal if you provide the scalings at the frequencies corresponding to the SPT band centers used for their latest model predictions. This is where we believe the scalings the most. Then I can fit a curve through that with correct low and high frequency asymptotics and we can consider if that works.

[2022-11-04 07:58] marcelo-alvarez commented on #131
@zonca if this issue needs to be resolved soon, then adopting the scaling factors @sriniraghunathan posted above makes sense to me, provided it is clear in the documentation that the scalings are not valid at nu > 300 GHz (I am not worried about very low frequencies as the constraints are very weak there).

If it is necessary at some point in the future to generate maps at nu > 300 GHz that are co

[2022-11-04 08:36] sriniraghunathan commented on #131
@marcelo-alvarez if we are interested in 93/145/225/278 GHz, then those maps not available in that cori folder. So, there is nothing to update and what I provided yesterday should be good.

[2022-11-04 09:36] marcelo-alvarez commented on #131
@srini I was able to get what we need from the information you provided, thanks.

@zonca we can go with the following functional form (which matches Srini's scalings at the SPT band center frequencies corresponding to the constraints he used):
[code]
The map scaling is square root of the power scaling. For your convenience I also provide the map scaling factors:
[code]

[2022-11-04 14:34] zonca commented on #131
Very good thanks,
I'll close the issue when I'll have completed the implementation

[2022-11-06 17:36] zonca commented on #120
see #129

[2022-11-06 17:36] #120 closed

[2022-11-06 17:44] zonca commented on #131
@sriniraghunathan @marcelo-alvarez @xzackli should I apply this correction also to the radio galaxies map?

[2022-11-06 17:46] sriniraghunathan commented on #131
@zonca - No this is just for CIB. I have not checked radio galaxies but could check those tomorrow.

[2022-11-07 17:46] erussier commented on #128
Hi @zonca, I found the MKD map at NSIDE = 2048 and indeed we get the same results between the MKD model at 353 GHz and d12. I guess we can close this issue.
![image](https://user-images.githubusercontent.com/54247542/200378619-0cfd0982-4fa8-4903-b2e2-df7ca1b4fa49.png)

![image](https://user-images.githubusercontent.com/54247542/200378491-178a983d-9359-4b5d-88f2-95add3e8de6b.png)

[2022-11-07 19:00] zonca commented on #128
Good news! Thanks

[2022-11-07 20:21] marcelo-alvarez commented on #131
@zonca I think it is ok to include the radio galaxy intensity maps as they are. They are abundance matched to available data as described in https://arxiv.org/abs/2110.15357.

[2022-11-09 22:24] zonca commented on #101
@giuspugl apologies, I lost the last 10 min of today's call. Are you going to post the notebook here?

[2022-11-10 16:46] giuspugl commented on #101
# Updates on dust
Below a summary of the updates implemented on new dust models :
- input templates from GNILC variable resolution and unires GNILC maps
- two pivot scales `ell1=110`,`ell2=2000` for small scale injection (see my previous posts )
- spectral indices for EE, BB coming from literature , [Planck 2018 XI](https://arxiv.org/pdf/1801.04945.pdf) and for TT from [Miville-Deschenes 2016](htt

[2022-11-10 16:57] #109 closed

[2022-11-10 17:04] giuspugl commented on #75
Hi all,
i've worked on a module to simulate realistic bandpasses with several levels of complexity.
You can sample from a top-hat , a top-hat with two apodization profile (e.g. cosine and exponential)  and from a Chebyshev polynomial .
![image](https://user-images.githubusercontent.com/8957029/201159240-02fced21-ec81-46ac-8e61-550bb7bfafa9.png)
Once the sampler of your  bandpass is constructed it

[2022-11-10 18:14] zonca commented on #101
thanks @giuspugl! I'll start implementing this into PySM

[2022-11-10 19:07] zonca commented on #101
@giuspugl can you please make the data folder `/global/cscratch1/sd/giuspugl/workstation/FG_extension/extending_gnilc_dust/` readable?

[2022-11-10 22:08] erussier commented on #128
In fact, the mkd map I was using at NSIDE 2048 and used in the PySM pipeline, was generated without the color correction implemented. We need to multiply the mkd map by 0.92 to take into account the color correction. Probably the best thing to do is to change the input maps. @delabrou will generate new maps to use as inputs for PySM.

[2022-11-10 23:07] zonca commented on #128
Sure, I can then replace the inputs

[2022-11-11 02:56] zonca commented on #101
nevermind, I reran `namaster` on the patches

[2022-11-11 03:11] zonca commented on #101
@giuspugl clarification on cell 45:

        ii_LS_alm[ii] = hp.almxfl(alm_log_pol_tens_fullsky[ii], (1.0 - sig_func) ** 0.2)

if we are modulating the small scales in `C_ell` with `sig_func`, shouldn't we modulate these with `sqrt(1 - sig_func)`?

[2022-11-11 07:47] giuspugl commented on #101
This is something we found in the past to have a _rounder_ transition at around `ell1` in the sigmoid, unfortunately the sqrt was  too sharp.

[2022-11-11 20:35] zonca commented on #101
ok, I have modified giuspugl notebook to have a fixed seed and used it to compare with my 2-step implementation (first generate inputs in spherical harmonics space, basically inputs to d11, then from that create the d10 templates), for reference:

https://gist.github.com/c5f71634f4466a52945eb22b0044a3c2
https://gist.github.com/3bf14002bb54d2959c9cb02de48674fe

[2022-11-12 05:33] zonca commented on #101
ok, implemented in #133

[2022-11-12 05:33] #101 closed

[2022-11-13 01:59] zonca opened #135 "Websky 0.4 CMB Alms with higher ell_max"

[2022-11-13 02:01] zonca commented on #135
@xzackli, I would like to run Unlensed CMB with no solar dipole, however that combination is absent, can you please provide it?

[2022-11-13 02:02] zonca commented on #135
index.html
kap.fits
lensed_alm_seed0.fits
lensed_alm_seed1.fits
map_I_lensed_alm_seed1_nside4096.fits
map_I_lensed_alm_seed1_nside512.fits
map_I_lensed_alm_seed1_solardipole_nside4096.fits
map_I_lensed_alm_seed1_solardipole_nside512.fits
map_I_unlensed_alm_seed1_solardipole_nside4096.fits
map_I_unlensed_alm_seed1_solardipole_nside512.fits
map_Q_lensed_alm_seed1_nside4096.fits
map_Q_lensed_alm_seed

[2022-11-15 02:29] zonca opened #136 "Implement CMB Dipole component"
It would be useful to have an implementation of the CMB Dipole as a separate component in PySM.

I have a simple implementation here:

https://github.com/CMB-S4/s4mapbasedsims/blob/master/202102_design_tool_input/utils/create_cmb_solar_dipole.ipynb

However it would be nice to also have the option of activating the frequency dependent quadrupole, see implementation in toast:

https://github.com/hp

[2022-11-15 02:29] zonca commented on #136
![image](https://user-images.githubusercontent.com/383090/201811442-d97d8eb5-3a83-408c-b475-1899074416e8.png)

[2022-11-15 03:10] keskitalo commented on #136
Yes, please!

[2022-11-15 11:10] giuspugl commented on #136
Thanks @zonca  for addressing this!
As i already commented [here](https://github.com/galsci/pysm/pull/129#issuecomment-1300999951) i am totally up to have the dipole  as a separated component!

[2022-11-17 22:41] zonca commented on #135
@giuspugl @xzackli I noticed that the alms in websky 0.4 have a ell_max of 8250.
Would it be possible to generate them with ell_max of 16384? That is the same ell_max of the new PySM3-native components.

[2022-11-21 14:53] edelahoz opened #137 "Unable to download GNILC beta_d template"
Hi everyone,

I'm trying to use the d10 model of pysm3, but I get the following error when trying to download the GNILC beta_d template:

URLError: <urlopen error Unable to open any source! Exceptions were {'https://portal.nersc.gov/project/cmb/pysm-data/dust_gnilc/gnilc_dust_beta_nside2048.fits': <HTTPError 403: 'Forbidden'>, 'http://www.astropy.org/astropy-data/dust_gnilc/gnilc_dust_beta_nside20

[2022-11-21 18:25] zonca commented on #135
in the meantime I need the unlensed maps without solar dipole because they are used by one of the predefined components, so I generated them myself, see notebook: https://gist.github.com/dde34e806c1949e38f8894ea6c3121ea

Still for later release of PySM I would like to have alms with higher ellmax

[2022-11-21 18:45] zonca commented on #135
actually here is the notebook I used, just for later reference: https://gist.github.com/5f0a01c64b9e6b9a669836ac6f39ed17

[2022-11-21 18:57] zonca opened #139 "Implement consistency unit test for Websky"
[code]

![image](https://user-images.githubusercontent.com/8048811/203103822-2d5c569b-8ab4-4e46-89f0-c961bc75d76b.png)

Also here's the shot noise power for reference from Planck.
![image](https://user-images.githubusercontent.com/8048811/203103992-20946656-163c-4525-818f-e0130cf36b20.png)

_Originally posted by @xzackli in https://github.com/galsci/pysm/issues/138#issuecomment-1322301835_

[2022-11-21 20:15] zonca commented on #112
## PySM 3.4.0b4

We have a new beta, this has been already used for production runs for CMB-S4, and will soon for Litebird and SO.

All the models have changed, due to changing how PySM does the spherical harmonics transform, on top of that GNILC and synchrotron have brand new small scales (thanks @giuspugl) and we have Websky extragalactic (thanks @xzackli)

List of the models:

*    s4, s5, s6,

[2022-11-21 20:17] zonca commented on #137
sorry, I was in the process of making a new release. It is avaiable now: https://github.com/galsci/pysm/issues/112#issuecomment-1322591787

Please write again if you see any other errors. Thanks.

[2022-11-28 05:43] zonca commented on #128
@erussier any news on the new maps?

[2022-11-30 16:47] zonca commented on #128
@erussier @delabru what if I just apply the `0.911` factor (see https://github.com/galsci/pysm/issues/99#issue-1068953759) inside PySM?

[2022-11-30 17:13] zonca commented on #117
this is using a older version of `d10`

[2022-11-30 17:15] zonca commented on #135
@giuspugl @xzackli

Would it be possible to generate them with ell_max of 16384? That is the same ell_max of the new PySM3-native components.

[2022-11-30 17:27] zonca opened #140 "Websky radio-galaxies"
from @xzackli

@xzackli can you please point me to the pre-smoothed maps? I would like to compare them to the original maps and check how spherical harmonics transforms behave as a way of validating the original maps.

[2022-11-30 18:22] giuspugl commented on #135
This is something intrinsic to the Websky outputs. In principle don't foresee any issue for it , but we 've to reach out @georgestein and @marcelo-alvarez as developers of Websky .

[2022-11-30 22:59] erussier commented on #128
Sorry for the late reply, we think that is okay to apply the 0.911 factor inside PySM, thank you.